@charset "utf-8";



// Our variables
$base-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$color-text:       #111;
$color-background: #fdfdfd;
$color-title:      #900000;
$color-danger-admonition-title: #f00000;
$color-caution-admonition-title: #a00000;
$color-attention-admonition-title: #d00000;
$color-error-admonition-title: #c00000;
$color-warning-admonition-title: #b00000;
$color-important-admonition-title: #a00000;
$color-note-admonition-title: #900000;
$color-hint-admonition-title: #800000;
$color-tip-admonition-title: #700000;
$color-admonition-title: #400000;

$color-grey:       #828282;
$color-grey-light: lighten($color-grey, 40%);
$color-grey-dark:  darken($color-grey, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials
@import
    "_html4css1.css",
    "_base",
    "_rst",
    "_scss_math"
;
