{{- define "main" }}
{{ "<!-- BEGIN main layouts/post/list.html -->" | safeHTML }}
<div class="content">
    {{ "<!-- Paginates through content/post/*.md -->" | safeHTML }}
  {{ $paginator := .Paginate (where .Pages "Type" "post") -}}
  {{- range $paginator.Pages }}
  <section>
    <h2 class="title-article-post"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    {{ block "articleMetaDataHeader" . -}}
    {{- partial "date-and-tags.html" . -}}
    {{- end -}}
    {{- .Render "summary" }}
  </section>
  {{ end -}}
  {{- template "_internal/pagination.html" . }}
</div>
{{ "<!-- END main layouts/post/list.html -->" | safeHTML }}
{{- end -}}
