{{ define "main" }}
{{- "<!-- BEGIN main layouts/post/single.html -->" | safeHTML -}}
<div class="content">
  <section>
    <h2 class="title-article">{{- .Title -}}</h2>
    {{- partial "date-and-tags.html" . -}}

    {{- partial "drop-caps.html" . }}
  </section>
  {{ if and .Site.DisqusShortname (not (or .Site.Params.disable_comments .Params.disable_comments)) }}
    <section class="comments">
    {{ template "_internal/disqus.html" . }}
  </section>
  {{ end }}
</div>
{{ "<!-- END main layouts/post/single.html -->" | safeHTML }}
{{ end }}
