{{ define "main" }}
{{- "<!-- BEGIN layouts/post/single.html -->" | safeHTML -}}
  <!--
    post template - unlike the default template, blog posts get disqus comments
  -->
  <article class="content">
  <h1 class="title-article">{{- .Title -}}</h1>
  {{ block "articleMetaDataHeader" . -}}
  {{- partial "date-and-tags.html" . -}}
  {{ end }}
{{- partial "drop-caps.html" . }}

  {{ if and .Site.DisqusShortname (not (or .Site.Params.disable_comments .Params.disable_comments)) }}
    <section class="comments">
    {{ template "_internal/disqus.html" . }}
  </section>
  {{ end }}
</article>
{{ end }}
