/* https://css-tricks.com/triangle-breadcrumbs/ */
.breadcrumb {
  list-style: none;
  overflow: hidden;
  font: 12px Sans-Serif;
  padding: 0;
}

.breadcrumb li {
  float: left;
}

.breadcrumb li a {
  color: rgb(241, 241, 241);
  text-decoration: none;
  padding: 10px 0 10px 65px;
  background: black; /* fallback color */
  background: hsla(162,25%,27%,1);
  position: relative;
  display: block;
  float: left;
}

/* triangle */
/* https://css-tricks.com/triangle-breadcrumbs/ */
.breadcrumb li a::after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid hsla(162,25%,27%,1);
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}

/* triangle background color (was white) */
/* https://css-tricks.com/triangle-breadcrumbs/ */
.breadcrumb li a::before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid rgb(241, 241, 241); /* must be same as background */
  /*border-left: 30px solid green;  */
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}

/* fade */
/* https://css-tricks.com/triangle-breadcrumbs/ */
.breadcrumb li:first-child a {
  padding-left: 10px;
}

.breadcrumb li:last-child a {
  pointer-events: none;
  cursor: default;
}

.breadcrumb li:last-child a::after {
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
}


.breadcrumb li:nth-child(2) a       { background:        hsla(162,25%,32%,1); }
.breadcrumb li:nth-child(2) a:after { border-left-color: hsla(162,25%,32%,1); }
.breadcrumb li:nth-child(3) a       { background:        hsla(162,25%,37%,1); }
.breadcrumb li:nth-child(3) a:after { border-left-color: hsla(162,25%,37%,1); }
.breadcrumb li:nth-child(4) a       { background:        hsla(162,25%,42%,1); }
.breadcrumb li:nth-child(4) a:after { border-left-color: hsla(162,25%,42%,1); }
.breadcrumb li:nth-child(5) a       { background:        hsla(162,25%,47%,1); }
.breadcrumb li:nth-child(5) a:after { border-left-color: hsla(162,25%,47%,1); }

/* hover */
/* https://css-tricks.com/triangle-breadcrumbs/ */
.breadcrumb li a:hover {
  background: hsla(120,100%,25%,1);
}
.breadcrumb li a:hover:after {
  border-left-color: hsla(120,100%,25%,1);
}
