<ul class="collection-items">
  {{ "<!-- BEGIN layouts/partials/items-taxonomies.html -->" | safeHTML }}
  {{ range $taxonomyName, $taxonomy := .Site.Taxonomies }}
  {{- $taxonomyPage := $.Site.GetPage (printf "/%s" $taxonomyName) -}}
  {{- if $taxonomyPage -}}
  <li class="collection-item">
    <a class="secondary-nav__link" href="{{ $taxonomyPage.RelPermalink }}#top">
      {{ title (replace $taxonomyName "-" " ") }}
    </a>
  </li>
  {{- end -}}
  {{ end }}
  {{ "<!--END layouts/partials/items-taxonomies.html -->" | safeHTML }}
</ul>
