{{ "<!-- BEGIN layouts/partials/postScript.html -->" | safeHTML -}}
<!-- Include MathJaX if either the page or the site params define math=true -->
{{- if or .Params.math .Site.Params.math -}} {{- if .Site.Params.mathjax }} {{
partial "mathjax" . }} {{- end -}} {{- if .Site.Params.katex -}} {{- partial
"katex2" . -}} {{- end -}} {{- end -}} {{- if or .Params.baseliner
.Site.Params.baseliner -}}
<!--
  Toggle a 4px grid for development/testing. Based on Caleb William's
  Pixel-Perfect demo: https://codepen.io/calebdwilliams/pen/yLYbPMR
-->

<!-- note the src path is relative to "<project-dir>/static" -->
<script src="{{ .Site.BaseURL }}scripts/toggleGrid.js"></script>

<!--
  Here's a script that will display baselines down the page. It's from
  https://github.com/jkeyes/baseline
-->
<script src="{{ .Site.BaseURL }}scripts/baseline.js"></script>
<script>
  window.onload = function () {
    baseliner = new Baseliner({ gridColor: "red" });
  };
</script>
{{ end -}} {{ "<!-- END layouts/partials/postScript.html -->" | safeHTML -}}
