<header class="main-head">
<div class="title-content">
  {{ "<!-- BEGIN layouts/partials/siteHeader.html -->" | safeHTML }}
    <h1 class="siteTitle"><a href="{{ .baseURL }}">{{ .title }}</a></h1>
    <h1 class="siteSubTitle"><a href="{{ .subtitleLink }}" target="_blank">{{- .subtitle -}}</a></h1>
  {{ "<!-- END layouts/partials/siteHeader.html -->" | safeHTML }}
</div>
<div class="hero-image">
    <img
      class="featured-image"
      src="{{ .titleImage | absURL }}"
      alt="{{ .titleImageDescription }}"
    />
    <div class="featured-copyright">
      <span class="featured-copyright"
        >{{ .titleImageDescription }}</span
      >
      <span class="featured-copyright"
        ><em>, {{ .titleCopyright }}</em></span
      >
    </div>
</div>
</header>
