        {{ "<!-- BEGIN layouts/partials/drop-caps.html -->" | safeHTML -}}
        {{- $dropCapsFont := "" -}}
        {{- $componentDropCaps := "c-drop-caps" -}}
        {{- if .Params.dropCapsFont -}}
          {{- $dropCapsFont = .Params.dropCapsFont | printf "drop-caps_%s" -}}
        {{- else if .Site.Params.dropCapsFont -}}
          {{- $dropCapsFont = .Site.Params.dropCapsFont | printf "drop-caps_%s" -}}
        {{- else -}}
          {{- $componentDropCaps = "c-drop-caps__none" -}}
        {{- end -}}
        <section class="content {{ $componentDropCaps }} {{ $dropCapsFont }}">{{ .Content }}</section>
        {{- "<!--END layouts/partials/drop-caps.html -->" | safeHTML -}}
