  <nav class="main-nav" aria-label="Main navigation" id="top">
  {{- $showActiveNav := .Site.Params.showActiveNav -}}
    {{- $currentPage := . -}}
    <div class="main-nav__items">
    {{- range $i, $item := .Site.Menus.nav -}}
      {{- $active := "" -}}
      {{- $isActive := false -}}
      {{- if eq $showActiveNav true -}}
        {{- $isMenu := or ($currentPage.IsMenuCurrent "nav" $item) ($currentPage.HasMenuCurrent "nav" $item) -}}
        {{- if or $isMenu (eq $currentPage.Title $item.Name) -}}
          {{- $active = "navLink-active" -}}
          {{- $isActive = true -}}
        {{- end -}}
      {{- end -}}
      {{- $text := print $item.Name | safeHTML -}}
      {{- $anchor := cond (strings.HasSuffix $item.URL ".xml") "" "#top" -}}
      {{- if gt $i 0 }}<span class="main-nav__sep" aria-hidden="true">|</span>{{ end -}}
      {{- if $isActive -}}
      <a class="main-nav__link {{ $active }}" href="{{ $item.URL }}{{ $anchor }}" aria-current="page">{{ $text }}</a>
      {{- else -}}
      <a class="main-nav__link {{ $active }}" href="{{ $item.URL }}{{ $anchor }}">{{ $text }}</a>
      {{- end -}}
    {{- end }}
    </div>
  </nav>
