  <nav class="main-nav" aria-label="Main navigation" id="top">
  {{- $showActiveNav := .Site.Params.showActiveNav -}}
    {{- $currentPage := . -}}
    <div class="main-nav__items">
    {{- range .Site.Menus.nav -}}
      {{- $active := "" -}}
      {{- $isActive := false -}}
      {{- if eq $showActiveNav true -}}
        {{- $isMenu := or ($currentPage.IsMenuCurrent "nav" .) ($currentPage.HasMenuCurrent "nav" .) -}}
        {{- if or $isMenu (eq $currentPage.Title .Name) -}}
          {{- $active = "navLink-active" -}}
          {{- $isActive = true -}}
        {{- end -}}
      {{- end -}}
      {{- $text := print .Name | safeHTML }}
      {{- if $isActive -}}
      <a class="main-nav__link {{ $active }}" href="{{ .URL }}#top" aria-current="page">{{ $text }}</a>
      {{- else -}}
      <a class="main-nav__link {{ $active }}" href="{{ .URL }}#top">{{ $text }}</a>
      {{- end -}}
    {{- end }}
    </div>
  </nav>
