/* Yinit */
@media only screen and (min-width: 65ch) {
  /*  All of these numbers are magic.
      */
  .drop-caps_yinit > p:first-child::first-letter,
  .drop-caps_yinit > blockquote:first-child + p::first-letter,
  .drop-caps_yinit > .epigraph:first-child + p::first-letter,
  .drop-caps_yinit::first-letter,
  .drop-caps_yinit > .document > p:first-child::first-letter,
  .drop-caps_yinit > .document > blockquote:first-child + p::first-letter,
  .drop-caps_yinit > .document > .epigraph:first-child + p::first-letter,
  .drop-caps_yinit > .document .drop-caps_yinit::first-letter {
    font-family: Yinit;
    font-size: 5.625em;
    line-height: 1.35;
    margin: 0.015em 0.04em -0.5em 0.01em;
    text-shadow: 0 0 0 #777;
    opacity: 0.95;
  }
}

@media only screen and (min-width: 65ch) {
  /*  Compensating for responsive line-height reduction. */
  @media only screen and (max-width: 120ch) {
    .drop-caps_yinit > p:first-child::first-letter,
    .drop-caps_yinit > blockquote:first-child + p::first-letter,
    .drop-caps_yinit > .epigraph:first-child + p::first-letter,
    .drop-caps_yinit::first-letter,
    .drop-caps_yinit .document > p:first-child::first-letter,
    .drop-caps_yinit .document > blockquote:first-child + p::first-letter,
    .drop-caps_yinit .document > .epigraph:first-child + p::first-letter,
    .document > .drop-caps_yinit::first-letter {
      font-size: 5.25em;
    }
  }
}

@media only screen and (min-width: 65ch) {
  /*  Compensating for responsive line-height reduction. */
  @media only screen and (max-width: 100ch) {
    .drop-caps_yinit > p:first-child::first-letter,
    .drop-caps_yinit > blockquote:first-child + p::first-letter,
    .drop-caps_yinit > .epigraph:first-child + p::first-letter,
    .drop-caps_yinit::first-letter,
    .drop-caps_yinit .document > p:first-child::first-letter,
    .drop-caps_yinit .document > blockquote:first-child + p::first-letter,
    .drop-caps_yinit .document > .epigraph:first-child + p::first-letter,
    .document > .drop-caps_yinit::first-letter {
        font-size: 5.375em;
    }
  }
}
