/* Goudy */
@media only screen and (min-width: 96ch) {
  /*  All of these numbers are magic. */
  .drop-caps__goudy > p:first-of-type,
  .drop-caps__goudy > .document > p:first-child {
    margin-bottom: 20pt;
  }

  /*  All of these numbers are magic. */
  .drop-caps__goudy > p:first-of-type::first-letter,
  .drop-caps__goudy > .document > p:first-child::first-letter {
    font-family: Goudy Initialen;
    font-size: 6.3em;
    font-weight: normal;
    line-height: 1;
    vertical-align: text-bottom;
    margin: 0 0 -0.18em 0;
  }
}
