/* Deutsche Zierschrift (de-zs) */
@media only screen and (min-width: 65ch) {
  /*  All of these numbers are magic.
      */
  .drop-caps_de-zs > p:first-child::first-letter,
  .drop-caps_de-zs > blockquote:first-child > p::first-letter,
  .drop-caps_de-zs > .epigraph:first-child > p::first-letter,
  .drop-caps_de-zs::first-letter {
    font-family: Deutsche Zierschrift;
    font-size: 6.5em;
    text-shadow:
       0px 2.5px 0 var(--gray100),
      -4px   4px 0 var(--gray100),
       4px   4px 0 var(--gray100);
    opacity: 0.99;
    margin: 0.06em 0.04em -0.069em 0;
  }

  /*  Compensating for responsive line-height reduction. */
  @media only screen and (max-width: 120ch) {
    .drop-caps_de-zs > p:first-child::first-letter,
    .drop-caps_de-zs > blockquote:first-child > p::first-letter,
    .drop-caps_de-zs > .epigraph:first-child > p::first-letter,
    .drop-caps_de-zs::first-letter {
        font-size: 6.375em;
    }
  }

  /*  Compensating for responsive line-height reduction. */
  @media only screen and (max-width: 100ch) {
    .drop-caps_de-zs > p:first-child::first-letter,
    .drop-caps_de-zs > blockquote:first-child > p::first-letter,
    .drop-caps_de-zs > .epigraph:first-child > p::first-letter,
    .drop-caps_de-zs::first-letter {
      font-size: 6.125em;
    }
  }
}
