/* Yinit */
@media only screen and (min-width: 65ch) {
  /*  All of these numbers are magic.
      */
  .drop-caps_yinit > p:first-of-type::first-letter,
  .drop-caps_yinit::first-letter,
  .drop-caps_yinit > .document > p:first-of-type::first-letter,
  .drop-caps_yinit > .document .drop-caps_yinit::first-letter {
    font-family: Yinit;
    font-size: 5.1em;
    margin: 0.08em 0.1em 0 0;
  }

  @supports not (-moz-user-focus: normal) {
    /*  All of these numbers are magic. */
    .drop-caps_yinit > p:first-of-type::first-letter,
    .drop-caps_yinit::first-letter,
    .drop-caps_yinit > .document > p:first-of-type::first-letter,
    .drop-caps_yinit > .document .drop-caps_yinit::first-letter {
      margin: 0.26em 0.1em -0.3em 0.01em;
    }
  }

  /*  Compensating for responsive line-height reduction. */
  @media only screen and (max-width: 120ch) {
    .drop-caps_yinit > p:first-of-type::first-letter,
    .drop-caps_yinit::first-letter,
    .drop-caps_yinit .document > p:first-of-type::first-letter,
    .document > .drop-caps_yinit::first-letter {
      font-size: 3.6em;
      margin: 0.14em 0.07em 0 0;
    }

    @supports not (-moz-user-focus: normal) {
      /*  All of these numbers are magic. */
      .drop-caps_yinit > p:first-of-type::first-letter,
      .drop-caps_yinit::first-letter,
      .drop-caps_yinit > .document > p:first-of-type::first-letter,
      .drop-caps_yinit > .document .drop-caps_yinit::first-letter {
        margin: 0.3em 0.07em -0.3em 0.01em;
      }
    }
  }

  /*  Compensating for responsive line-height reduction. */
  @media only screen and (max-width: 110ch) {
    .drop-caps_yinit > p:first-of-type::first-letter,
    .drop-caps_yinit::first-letter,
    .drop-caps_yinit .document > p:first-of-type::first-letter,
    .document > .drop-caps_yinit::first-letter {
        font-size: 2.3em;
        margin: 0.15em 0.06em 0 0;
    }

    @supports not (-moz-user-focus: normal) {
      /*  All of these numbers are magic. */
      .drop-caps_yinit > p:first-of-type::first-letter,
      .drop-caps_yinit::first-letter,
      .drop-caps_yinit > .document > p:first-of-type::first-letter,
      .drop-caps_yinit > .document .drop-caps_yinit::first-letter {
        margin: 0.35em 0.06em -0.3em 0.01em;
      }
    }
  }
}
