/* Kanzlei */
@media only screen and (min-width: 65ch) {
  /*  All of these numbers are magic. */
  .drop-caps_kanzlei > p:first-of-type::first-letter,
  .drop-caps_kanzlei::first-letter,
  .drop-caps_kanzlei > .document > p:first-of-type::first-letter,
  .drop-caps_kanzlei > .document .drop-caps_kanzlei::first-letter {
    font-family: Kanzlei Initialen;
    font-size: 6.8em;
    margin: 0.08em 0.02em 0 -0.04em;
  }

  @supports not (-moz-user-focus: normal) {
    /*  All of these numbers are magic. */
    .drop-caps_kanzlei > p:first-of-type::first-letter,
    .drop-caps_kanzlei::first-letter,
    .drop-caps_kanzlei > .document > p:first-of-type::first-letter,
    .drop-caps_kanzlei > .document .drop-caps_kanzlei::first-letter {
      margin: 0.03em 0.02em -0.2em -0.04em;
    }
  }

  /*  Compensating for responsive line-height reduction. */
  @media only screen and (max-width: 120ch) {
    .drop-caps_kanzlei > p:first-of-type::first-letter,
    .drop-caps_kanzlei::first-letter,
    .drop-caps_kanzlei .document > p:first-of-type::first-letter,
    .document > .drop-caps_kanzlei::first-letter {
        font-size: 4.8em;
        text-shadow: 0 0 0 #777;
        margin-top: 0.1em;
    }

    @supports not (-moz-user-focus: normal) {
      /*  All of these numbers are magic. */
      .drop-caps_kanzlei > p:first-of-type::first-letter,
      .drop-caps_kanzlei::first-letter,
      .drop-caps_kanzlei > .document > p:first-of-type::first-letter,
      .drop-caps_kanzlei > .document .drop-caps_kanzlei::first-letter {
        margin-top: 0.06em;
      }
    }
  }

  /*  Compensating for responsive line-height reduction. */
  @media only screen and (max-width: 110ch) {
    .drop-caps_kanzlei > p:first-of-type::first-letter,
    .drop-caps_kanzlei::first-letter,
    .drop-caps_kanzlei .document > p:first-of-type::first-letter,
    .document > .drop-caps_kanzlei::first-letter {
      font-size: 2.9em;
      margin: 0.18em 0.1em 0 0;
    }

    @supports not (-moz-user-focus: normal) {
      /*  All of these numbers are magic. */
      .drop-caps_kanzlei > p:first-of-type::first-letter,
      .drop-caps_kanzlei::first-letter,
      .drop-caps_kanzlei > .document > p:first-of-type::first-letter,
      .drop-caps_kanzlei > .document .drop-caps_kanzlei::first-letter {
        margin: 0.18em 0.1em -0.2em 0;
      }
    }
  }
}