/* Kanzlei */
@media only screen and (min-width: 65ch) {
  /*  All of these numbers are magic.
      */
  .drop-caps_kanzlei > p:first-child::first-letter,
  .drop-caps_kanzlei > blockquote:first-child + p::first-letter,
  .drop-caps_kanzlei > .epigraph:first-child + p::first-letter,
  .drop-caps_kanzlei::first-letter,
  .drop-caps_kanzlei > .document > p:first-child::first-letter,
  .drop-caps_kanzlei > .document > blockquote:first-child + p::first-letter,
  .drop-caps_kanzlei > .document > .epigraph:first-child + p::first-letter,
  .drop-caps_kanzlei > .document .drop-caps_kanzlei::first-letter {
    font-family: Kanzlei Initialen;
    font-size: 7em;
    line-height: 1;
    margin: 0 0.01em -0.25em -0.03em;
    opacity: 0.9;
}
}

@media only screen and (min-width: 65ch) {
  /*  Compensating for responsive line-height reduction. */
  @media only screen and (max-width: 120ch) {
    .drop-caps_kanzlei > p:first-child::first-letter,
    .drop-caps_kanzlei > blockquote:first-child + p::first-letter,
    .drop-caps_kanzlei > .epigraph:first-child + p::first-letter,
    .drop-caps_kanzlei::first-letter,
    .drop-caps_kanzlei .document > p:first-child::first-letter,
    .drop-caps_kanzlei .document > blockquote:first-child + p::first-letter,
    .drop-caps_kanzlei .document > .epigraph:first-child + p::first-letter,
    .document > .drop-caps_kanzlei::first-letter {
        font-size: 6.875em;
    }
  }
}

@media only screen and (min-width: 65ch) {
  /*  Compensating for responsive line-height reduction. */
  @media only screen and (max-width: 100ch) {
    .drop-caps_kanzlei > p:first-child::first-letter,
    .drop-caps_kanzlei > blockquote:first-child + p::first-letter,
    .drop-caps_kanzlei > .epigraph:first-child + p::first-letter,
    .drop-caps_kanzlei::first-letter,
    .drop-caps_kanzlei .document > p:first-child::first-letter,
    .drop-caps_kanzlei .document > blockquote:first-child + p::first-letter,
    .drop-caps_kanzlei .document > .epigraph:first-child + p::first-letter,
    .document > .drop-caps_kanzlei::first-letter {
      font-size: 6.3125em;
    }
  }
}
