/*
  Goudy

  NOTE: I think it's best to set the font-size and margin so the top of a drop cap letter aligns with the top of a capital letter 'I' or the top of a lowercase letter 'h', and the bottom aligns with the baseline of a row of word-wrapped text.
*/
@media only screen and (min-width: 65ch) {
  /*  All of these numbers are magic. */
  .drop-caps_goudy > p:first-of-type::first-letter,
  .drop-caps_goudy::first-letter {
    font-family: Goudy Initialen;
    font-size: 6.6em;
    margin: 0.06em 0.02em 0 0;
  }

  @supports not (-moz-user-focus: normal) {
    /*  All of these numbers are magic. */
    .drop-caps_goudy > p:first-of-type::first-letter,
    .drop-caps_goudy::first-letter {
      margin: 0.02em 0.02em -0.25em 0;
    }
  }

  /*  Compensating for responsive line-height reduction. */
  @media only screen and (max-width: 120ch) {
    .drop-caps_goudy > p:first-of-type::first-letter,
    .drop-caps_goudy::first-letter {
      font-size: 4.9em;
      text-shadow: 0 0 0 #777;
      margin: 0.07em 0.02em 0 0;
    }

    @supports not (-moz-user-focus: normal) {
      /*  All of these numbers are magic. */
      .drop-caps_goudy > p:first-of-type::first-letter,
      .drop-caps_goudy::first-letter {
        margin: 0.02em 0.02em -0.25em 0;
      }
    }
  }

  /*  Compensating for responsive line-height reduction. */
  @media only screen and (max-width: 110ch) {
    .drop-caps_goudy > p:first-of-type::first-letter,
    .drop-caps_goudy::first-letter {
      font-size: 2.85em;
      margin: 0.12em 0.04em -0.25em 0;
    }

    @supports not (-moz-user-focus: normal) {
      /*  All of these numbers are magic. */
      .drop-caps_goudy > p:first-of-type::first-letter,
      .drop-caps_goudy::first-letter {
        line-height: 1.1;
        margin: 0.04em 0.04em -0.25em 0;
      }
    }
  }
}
