/* Goudy */
@media only screen and (min-width: 65ch) {
  /*  All of these numbers are magic. */
  .drop-caps_goudy > p:first-of-type::first-letter,
  .drop-caps_goudy::first-letter,
  .drop-caps_goudy > .document > p:first-of-type::first-letter,
  .drop-caps_goudy > .document .drop-caps_goudy::first-letter {
    font-family: Goudy Initialen;
    font-size: 6.5em;
  }

  @supports not (-moz-user-focus: normal) {
    /*  All of these numbers are magic. */
    .drop-caps_goudy > p:first-of-type::first-letter,
    .drop-caps_goudy::first-letter,
    .drop-caps_goudy > .document > p:first-of-type::first-letter,
    .drop-caps_goudy > .document .drop-caps_goudy::first-letter {
      margin: 0 0.02em -0.25em 0;
    }
  }

  /*  Compensating for responsive line-height reduction. */
  @media only screen and (max-width: 120ch) {
    .drop-caps_goudy > p:first-of-type::first-letter,
    .drop-caps_goudy::first-letter,
    .drop-caps_goudy .document > p:first-of-type::first-letter,
    .document > .drop-caps_goudy::first-letter {
        font-size: 4.7em;
        text-shadow: 0 0 0 #777;
    }
  }

  /*  Compensating for responsive line-height reduction. */
  @media only screen and (max-width: 110ch) {
    .drop-caps_goudy > p:first-of-type::first-letter,
    .drop-caps_goudy::first-letter,
    .drop-caps_goudy .document > p:first-of-type::first-letter,
    .document > .drop-caps_goudy::first-letter {
      font-size: 3em;
      line-height: 1.1;
      margin: 0.01em 0.03em -0.25em 0;
      text-shadow:
          0px 2.5px 0 var(--gray100),
          -4px   4px 0 var(--gray100),
          4px   4px 0 var(--gray100);
    }
  }
}
