<!DOCTYPE html>
{{ $lang := .Site.Language.Lang | default "en" }}
<html lang="{{ $lang }}">
  {{- block "head" . -}}
  {{- partial "head.html" . -}}
  {{- end -}}
  <body>
    <div class="wrapper">
    {{- block "header" . -}}
        {{- partial "siteHeader.html" . -}}
    {{- end -}}

    <nav class="main-nav">
    {{- block "nav" . -}}
    {{- partial "nav.html" . -}}
    {{- end }}
    </nav>

      {{ block "nav__breadcrumbs" . }}
        {{- partial "nav__breadcrumbs.html" . -}}
      {{ end }}

      {{- block "main" . -}}{{- end }}

    {{ "<!-- I might want to wrap footer and script in blocks -->" | safeHTML }}
    <footer class="main-footer">
    {{ block "footer" . }}
      {{ partial "footer.html" . -}}
    {{ end }}
    </footer>

    {{ block "postScript" . }}
      {{ partial "postScript.html" . -}}
    {{ end }}
  </div>
  </body>
</html>
