<!DOCTYPE html>
{{ $lang := .Site.Language.Lang | default "en" }}
<html lang="{{ $lang }}">
  {{ partial "head.html" . }}
  <body class="base">
    <div class="container">
      {{- partial "nav.html" . }}
      <!-- header contains the title in an h1 element and a subtitle -->
      {{- block "header" . }}{{ partial "site-header.html" . -}}{{- end }}
      <main id="main">
        {{- block "main" . -}}{{- end }}
      </main>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "google-analytics-async.html" . }}
  </body>
</html>
