{{- define "main" -}}
    <h1>All Posts Layout Default Lists</h1>
    <p>If this shows up, _index.md is missing from a folder somewhere.</p>
      <!-- "{.Content}" pulls from the markdown content of the corresponding _index.md -->
      {{- .Content -}}
    {{- $paginator := .Paginate (where .Pages "Section" .Section) -}}
    {{- range $paginator.Pages }}
      <article class="article-default">
      <h2 class="title-article-default"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      {{ block "articleMetaDataHeader" . -}}
      {{- partial "date-and-tags.html" . -}}
      {{ end -}}
        <!-- this renders based on layouts/_default/summary.html (either the
        local one, or the one in a theme -->
        {{ .Render "summary" -}}
      </article>
    {{ end -}}
    {{- template "_internal/pagination.html" . }}
{{- end -}}
