{{ define "main" }}

<main>
    <!-- default list template -->
    <article>
      <header id="home" class="jumbotron text-center">
        <h1>{{ .Site.Title }}</h1>
          <p class="font-125">{{ .Site.Params.homeText | markdownify }} </p>
      </header>
      <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
      {{ .Content }}
      <div class="links">
        {{- range .Site.Params.links -}}
          <a href="{{ .url }}" title="{{ .title }}">
            <span class="{{ .iconset | default "fab" }} fa-{{ .icon }}"></span>
          </a>
        {{- end -}}
      </div>
      <h1>{{ .Title }}</h1>

      <!-- Ranges through content/notes/*.md -->
      {{ range first (.Site.Params.Paginate | default 5) .Pages.ByPublishDate.Reverse }}
      <p>
        <a class="font-125" href="{{ .Permalink }}">{{ .Title }}</a>
        <br>
        {{ partial "date-and-tags.html" . }}
      </p>
      {{ end }}
    </article>
</main>

{{ end }}
