{{- define "main" }}
  {{ "<!-- BEGIN main in layouts/_default/section.html -->" | safeHTML }}

  {{ $sections := (.Site.GetPage .Section).Sections }}
  <nav class="secondary-nav" aria-label="Secondary">
    <ul>
      {{ range $sections }}
      <li><h2 class="title-section"><a href="{{ .Permalink }}">{{ .Title }}</a></h2></li>
      {{ end }}
    </ul>
  </nav>

  {{- $paginator := .Paginate (where .Pages "Section" .Section) -}}
  <article class="content">
    {{- range $paginator.Pages -}}
      <h2 class="title-article-section"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      {{ block "articleMetaDataHeader" . -}}
        {{- partial "date-and-tags.html" . -}}
      {{ end }}
      {{ .Render "summary" }}
    {{ end }}
    {{- template "_internal/pagination.html" . }}
  </article>

  {{ "<!-- END main in layouts/_default/section.html -->" | safeHTML }}
{{ end }}

{{ define "title" }}
{{ "<!-- BEGIN title layouts/_default/section.html -->" | safeHTML }}
The Grand Answer: A Section Title?
{{ "<!-- END title layouts/_default/section.html -->" | safeHTML }}
{{ end }}
