{{ define "main" }}
  {{- "<!-- BEGIN main layouts/_default/single.html -->" | safeHTML -}}

  {{ $sections := (.Site.GetPage .Section).Sections }}
  <nav class="secondary-nav" aria-label="Secondary">
    <ul>
      {{ range $sections }}
      <li><h2 class="title-section"><a href="{{ .Permalink }}">{{ .Title }}</a></h2></li>
      {{ end }}
    </ul>
  </nav>

  <article class="content">
  <h1 class="title-article">{{- .Title -}}</h1>
  {{ block "articleMetaDataHeader" . -}}
  {{- partial "date-and-tags.html" . -}}
  {{ end }}
{{- partial "drop-caps.html" . }}
{{ if and .Site.DisqusShortname (not (or .Site.Params.disable_comments .Params.disable_comments)) }}
<section class="comments">
  {{ template "_internal/disqus.html" . }}
</section>
{{ end }}
</article>
{{- "<!-- END main layouts/_default/single.html -->" | safeHTML -}}
{{ end }}
