/*************/
/* DROP CAPS */
/*************/
/*
  "drop caps"/"initials". See: https://en.wikipedia.org/wiki/Initial and
  https://wiki.obormot.net/Reference/DropCapsDemo,
  are large fancy block letters used to start a page/section. We skip them on
  mobile because they use up 8-12KB each (even after @font-face subset
  optimization to load only 1 letter at a time), and take up a lot of screen
  space. (Mobile users can't have nice things.) To implement them, each
  Markdown page has a custom metadata field like 'componentDropCaps:
  "drop-caps_kanzlei"' which is substituted into the compiled HTML like '<body
  class="pagename drop-caps_de-zs">', allowing defining of multiple drop-caps
  and customized per page. The only one I use right now is Goudy, so I've
  commented out all the others from the "head.html" partial. Gwern had distinct uses for each font. He used Goudy literary/historical/humanities pages, yinit
  for technical/scientific pages, and De-Zs is for everything else.
  */
  /*
    rst2html5 adds a section with a .document class, so all post/notes
    generated from reStructuredText files need this. Note: I gave up on
    rst2html5, so I've removed lines like
    ".c-drop-caps > .document p:first-of-type:first-letter"
  */
@media (min-width: 65ch) {
  /* uncomment for debugging */
  /* .c-drop-caps, .c-drop-caps > .document { */
    /* border: 2px solid #3bc9db; */
    /* border-radius: 5px; */
    /* background-color: #e3fafc; */
  /* } */

  .c-drop-caps::first-letter {
    float: left;
    font-style: normal;
    font-weight: normal;
    color: var(--color600);
    /* uncomment for debugging */
    /* border-radius: 5px; */
    /* background-color: #1098ad; */
  }

  /* Ensure headings always clear floated drop caps to prevent awkward indentation
     when the leading paragraph is too short to wrap around the entire drop cap.
     The margin-top accounts for the negative bottom margin on the drop cap. */
  .c-drop-caps h1,
  .c-drop-caps h2,
  .c-drop-caps h3,
  .c-drop-caps h4,
  .c-drop-caps h5,
  .c-drop-caps h6 {
    clear: left;
    margin-top: 1.5em;
  }

  /* Firefox only */
  @supports (-moz-appearance:none) {
    .c-drop-caps > p:first-of-type::first-letter {
      float: left;
      font-style: normal;
      font-weight: normal;
      color: var(--color600);
      /* uncomment for debugging */
      /* border-radius: 5px; */
      /* background-color: #1098ad; */
    }
  }

  /* Select chrome */
  @media (-webkit-min-device-pixel-ratio: 0) {
    .c-drop-caps::first-letter {
      line-height: 1; /* needed for chrome */
    }
  }

  .c-drop-caps::first-letter {
    display: flow-root;
    /* border-radius: 5px; */
    /* background-color: paleturquoise; */
  }

 /* .c-drop-caps p:first-of-type + p */
 /* { */
 /*   border-radius: 5px; */
 /*   background-color: palegreen; */
 /* } */

/*  .c-drop-caps p:first-of-type + ul:first-of-type, */
/*  .c-drop-caps p:first-of-type + h2:first-of-type */
/*  { */
/*    border-radius: 5px; */
/*    background-color: palegoldenrod; */
/*  } */
}
