/* Deutsche Zierschrift (de-zs) */
@media only screen and (min-width: 65ch) {
  /*  All of these numbers are magic.
      */
  .drop-caps_de-zs > p:first-child::first-letter,
  .drop-caps_de-zs > blockquote:first-child + p::first-letter,
  .drop-caps_de-zs > .epigraph:first-child + p::first-letter,
  .drop-caps_de-zs::first-letter,
  .drop-caps_de-zs > .document > p:first-child::first-letter,
  .drop-caps_de-zs > .document > blockquote:first-child + p::first-letter,
  .drop-caps_de-zs > .document > .epigraph:first-child + p::first-letter,
  .drop-caps_de-zs > .document .drop-caps_de-zs::first-letter {
    font-family: Deutsche Zierschrift;
    font-size: 6.5em;
    line-height: 1.1;
    margin: 0.01em 0.03em -0.25em 0;
    text-shadow:
       0px 2.5px 0 #fff,
      -4px   4px 0 #fff,
       4px   4px 0 #fff;
    color: #191919;
    opacity: 0.99;
  }
}

@media only screen and (min-width: 65ch) {
  /*  Compensating for responsive line-height reduction. */
  @media only screen and (max-width: 120ch) {
    .drop-caps_de-zs > p:first-child::first-letter,
    .drop-caps_de-zs > blockquote:first-child + p::first-letter,
    .drop-caps_de-zs > .epigraph:first-child + p::first-letter,
    .drop-caps_de-zs::first-letter,
    .drop-caps_de-zs .document > p:first-child::first-letter,
    .drop-caps_de-zs .document > blockquote:first-child + p::first-letter,
    .drop-caps_de-zs .document > .epigraph:first-child + p::first-letter,
    .document > .drop-caps_de-zs::first-letter {
        font-size: 6.375em;
    }
  }
}

@media only screen and (min-width: 65ch) {
  /*  Compensating for responsive line-height reduction. */
  @media only screen and (max-width: 100ch) {
    .drop-caps_de-zs > p:first-child::first-letter,
    .drop-caps_de-zs > blockquote:first-child + p::first-letter,
    .drop-caps_de-zs > .epigraph:first-child + p::first-letter,
    .drop-caps_de-zs::first-letter,
    .drop-caps_de-zs .document > p:first-child::first-letter,
    .drop-caps_de-zs .document > blockquote:first-child + p::first-letter,
    .drop-caps_de-zs .document > .epigraph:first-child + p::first-letter,
    .document > .drop-caps_de-zs::first-letter {
      font-size: 6.125em;
    }
  }
}
