.crumb-trail {
	list-style: none;
	padding: 0;
	margin: auto;
  font: 0.75em Sans-Serif;
}

.crumb {
	padding: 4px 16px;
	position: relative;
  float: left;
  background-color: var(--color900);
}

/*
    Breadcrumb Navigation

    This styling, from nth-child(2) through nth-child(7), allows for styling
    breadcrumb navigation to .crumb-link depth of 7 sections. The journal is, so far, the
    only section that deep. The nesting is Home, Journal, Year, Quarter, Month,
    Week, and Day.
*/
.crumb .crumb-link  { color: var(--color-background-main); }
.crumb:nth-child(2) { background-color: var(--color800); }
.crumb:nth-child(3) { background-color: var(--color700); }
.crumb:nth-child(4) { background-color: var(--color600); }
.crumb:nth-child(5) { background-color: var(--color500); }
.crumb:nth-child(6) { background-color: var(--color400); }

/*
 * At this level, the background color is very light, so we switch the text
 * to be very dark.
 */
.crumb:nth-child(7) { background-color: var(--color300); }
.crumb:nth-child(7) .crumb-link {  color: var(--color900); }
.crumb:nth-child(8) { background-color: var(--color200); }
.crumb:nth-child(8) .crumb-link {  color: var(--color900); }


/* Common settings for .crumb:after to make arrows. The colors are below. */
.crumb > a::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-left: 0.3em solid transparent;
  border-top: 0.93em solid var(--color-background-main);
  border-bottom: 0.93em solid var(--color-background-main);
}

.crumb:not(:first-child) > .crumb-link::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-left: 0.3em solid var(--color-background-main);
  border-top: 0.93em solid transparent;
  border-bottom: 0.93em solid transparent;
}

/* hover */
.crumb:hover {
  background: var(--color-anchor-hover);
}
.crumb:hover::after {
  border-left-color: var(--color-anchor-hover);
}
