/* https://css-tricks.com/triangle-breadcrumbs/ */
.breadcrumb {
  list-style: none;
  overflow: hidden;
  font: 12px Sans-Serif;
  padding: 0;
}

.breadcrumb li {
  float: left;
}

.breadcrumb li a {
  color: var(--color-background-main);
  text-decoration: none;
  padding: 5px 0 5px 45px;
  background-color: var(--color900);
  position: relative;
  display: block;
  float: left;
}

/* triangle */
/* https://css-tricks.com/triangle-breadcrumbs/ */
.breadcrumb li a::after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid var(--color900);
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}

/* triangle background color (was white) */
/* https://css-tricks.com/triangle-breadcrumbs/ */
.breadcrumb li a::before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid var(--color-background-main); /* must be same as background */
  /*border-left: 30px solid green;  */
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}

/* https://css-tricks.com/triangle-breadcrumbs/ */
.breadcrumb li:first-child a {
  padding-left: 10px;
}

.breadcrumb li:last-child a {
  pointer-events: none;
  cursor: default;
}

.breadcrumb li:last-child a::after {
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
}

/*
    Breadcrumb Navigation

    This styling, from nth-child(2) through nth-child(7), allows for styling
    breadcrumb navigation to a depth of 7 sections. The journal is, so far, the
    only section that deep. The nesting is Home, Journal, Year, Quarter, Month,
    Week, and Day.
*/
.breadcrumb li:nth-child(2) a       { background-color:  var(--color800); }
.breadcrumb li:nth-child(2) a:after { border-left-color: var(--color800); }
.breadcrumb li:nth-child(3) a       { background:        var(--color700); }
.breadcrumb li:nth-child(3) a:after { border-left-color: var(--color700); }
.breadcrumb li:nth-child(4) a       { background:        var(--color600); }
.breadcrumb li:nth-child(4) a:after { border-left-color: var(--color600); }
.breadcrumb li:nth-child(5) a       { background:        var(--color500); }
.breadcrumb li:nth-child(5) a:after { border-left-color: var(--color500); }
.breadcrumb li:nth-child(6) a       { background:        var(--color400); }
.breadcrumb li:nth-child(6) a:after { border-left-color: var(--color400); }
/* At this level, the background color is very light, so we switch the text
   to be very dark. */
.breadcrumb li:nth-child(7) a       { background:        var(--color300);
                                      color:             var(--color900); }
.breadcrumb li:nth-child(7) a:after { border-left-color: var(--color300); }

/* hover */
/* https://css-tricks.com/triangle-breadcrumbs/ */
.breadcrumb li a:hover {
  background: var(--color-anchor-hover);
}
.breadcrumb li a:hover:after {
  border-left-color: var(--color-anchor-hover);
}
