body {
    margin: 0 auto;
    max-width: 90ch;
    padding: 2ch;
    line-height: 1.5;
    padding: 4em 1em;
}

.article-main h2 {
  margin-top: 2ch;
}

.article-main h2:first-child {
    margin-top: 4ch;
}

.post-summary p {
  margin-top: 1.5ch;
  margin-bottom: 0;
}

blockquote {
  background: #f9f9f9;
  border-left: 1ch solid #ccc;
  margin: 3ch 0;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

/*
 NOTE: the content attribute replaces drop-caps. I'm happy with that, as I
 don't want drop-caps when a blockquote is the first paragraph in a post.
*/
blockquote p:first-child:before, blockquote p:first-child:after {
  color: #ccc;
  font-size: 2ch;
  line-height: 0.1ch;
  vertical-align: -0.75ch;
}

blockquote p:first-child:before {
  content: open-quote;
}

blockquote p:first-child:after {
  content: close-quote;
}

blockquote p:first-child {
  display: inline;
  line-height: 2.5ch;
}

blockquote p {
  line-height: 0.1ch;
}

.post-summary blockquote {
  margin-top: 1.5ch;
  margin-bottom: 0;
}

.tag {
  margin-right: 0.5ch;
}

ul.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.page-item {
  float: left;
  margin-right: 1ch;
}

.siteTitle, .siteSubtitle, .title-article {
  font-variant-caps: small-caps;
}

.post-metadata {
  font-size: smaller;
  line-height: 1em;
}

.title-article {
  margin-bottom: 0.25ch;
}

footer {
  margin-top: 2ch;
}
