/***************************
 * The rest of the styling *
 ***************************/
/*
 * Color Scheme 1
    Anchor:
      HEX: #34564c
      RGB: 52 86 76
      HSL: 162 25% 27%
      HWB: 120 100 30
      CMYK: 40% 0% 12% 66%

    Anchor Hover: (green)
      HEX: #008000
      RGB: 0 128  0
      HSL: 120 100% 25%
      HWB: 120 0% 02%
      HSV: 120 100 31.37
      CMYK: 100% 0% 100% 68.63

    pre, code background-color:
      HEX: #e3e8e7
      RGB: 227 232 231
      HSL: 168 10% 90%
      HSV:
      CMYK: 2% 0% 0% 9%

    pre border-left:
      HEX: #8fa39f
      RGB: 143 163 159
      HSL: 168 10% 60%
      HSV:
      CMYK: 12% 0% 2% 36%

    pre border-bottom:
      HEX: #cacfcf
      RGB: 202 207 207
      HSL: 180 4% 80%
      HSV:
      CMYK: 2% 0% 0% 19%
*/

.title-article,
.title-article-item {
  display: inline;
}

.post-metadata {
  font-size: 0.889em;
  line-height: 1.3;
}

.page-summary {
  margin-bottom: 1.5em;
}

.page-summary p:last-of-type {
  margin-bottom: 0;
}

/* blockquotes for blocks of quotes. Specifically, not blocks of code */
blockquote {
  background-color: var(--color-background-code);
  border-bottom: 0.1em solid var(--color-border-bottom-code);
  border-left: 0.1em solid var(--color-border-left);
  border-bottom-left-radius: 0.5em;
  margin: 0.5em 0rem 0.5em 0rem;
  padding: 0.5em 0.5em;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p:first-child:before {
  content: open-quote;
  color: var(--gray300);
  font-size: 4em;
  line-height: 0;
  vertical-align: bottom;
}

blockquote p:last-child:after {
  content: close-quote;
  color: var(--gray300);
  font-size: 4em;
  line-height: 0;
  vertical-align: bottom;
  display: inline;
}

blockquote > ul ,
blockquote > ol {
  margin-top: 1em;
  margin-bottom: 1em;
}

blockquote > ul:first-child,
blockquote > ol:first-child{
  margin-top: 0;
}

blockquote > ul:last-child,
blockquote > ol:last-child{
  margin-bottom: 0;
}

/* both inline and block code */
pre, code {
  background-color: var(--color-background-code);
  font-family: monospace;
}

/*
  Blocks of code. Use "display: inline-block;" and "width: 83ch;" so these
  blocks can display about 80 characters of a fixed-width font regardless of
  the width of the surrounding text. Any code wider than that will get a
  horizontal scrollbar.
*/
pre {
  max-width: 83ch;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0.5em 0rem 0.5em 0rem;
  padding: 0.5em 0.5em;
  border-bottom: 0.1em solid var(--color-border-bottom-code);
  border-left: 0.1em solid var(--color-border-left);
  display: inline-block;
}

a {
  color: var(--color-anchor);
  text-decoration: none;  /* initial works here as well */
}

a:hover,
a:active {
  color: var(--color-anchor-hover);
}

.pagination {
  list-style-type: none;
  overflow: hidden;
}

.page-item {
  float: left;
  margin-right: 1ch;
}

.tag {
  margin-right: 0.5ch;
}

/************************************
 * Simple Markdown-Generated Tables *
 ************************************/
.table {
  table-layout: fixed;
  border-collapse: collapse;
  border-top: 2px solid var(--gray250);
  border-bottom: 2px solid var(--gray250);
  text-align: left;
  counter-increment: tables;
}

caption:before {
  content: 'Table ' counter(tables) '. ';
}

caption {
  padding: 10px;
  caption-side: bottom;
  font-weight: bold;
  text-align: left;
}

td, th {
  border: 1px solid var(--gray200);
  padding: 10px 20px;
}

th {
  background-color: var(--color-background-table-head);
  color: var(--gray125);
}

/* Zebra stripes - alternating rows in the body have different background colors */
tbody tr:nth-child(odd) td {
  background-color: var(--color200);
}

tbody tr:nth-child(even) td {
  background-color: var(--color300);
}

tbody {
  font-size: 95%;
}

tfoot {
  font-weight: bold;
  background-color: var(--color-background-table-foot);
  color: var(--gray125);
}


/*****************************************************************************
 * reST Admonitions in Markdown. The list of defined admonitions is:         *
 * attention, caution, danger, error, hint, important, note, tip, and        *
 * warning.                                                                  *
 *****************************************************************************/
.admonition .content {
  padding-left: 0.25em;
}

.admonition {
  padding-bottom: 0.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  border-left: 0.1rem solid var(--color600);
}

.admonition-title {
  padding-left: 0.25em;
  background-color: var(--color600);
  color: var(--color-background-main);
}

.caution {
  border-left: 0.1rem solid var(--color-caution);
}

.caution>.admonition-title {
  background-color: var(--color-caution);
  color: var(--gray900);
}

.danger{
  border-left: 0.1rem solid var(--color-danger);
}

.danger>.admonition-title {
  background-color: var(--color-danger);
  color: var(--gray900);
}


/************************
 * social network links *
 ************************/
/* $cloud: #ecf0f1; */

.social {
  display: block;
}

.social .icon {
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
}

/* This is a list of social media links and icons */
.collection-items {
  width: 100%;
  background-color: var(--color-background-sidebar);
  padding-left: 0;
  padding-right: 0.3rem;
  display: inline-block;
  list-style-type: none;
  font-size: 1rem;
  overflow-y: auto;
  /* Hold 13 lines * 1.5rem == 16.5 */
  max-height: 16.5rem;
}


/* This is a list of social media links and icons */
.social-items {
  width: 100%;
  background-color: var(--color-background-footer);
  padding-left: 0;
  padding-right: 0.3rem;
  display: inline-block;
  list-style-type: none;
  overflow-y: auto;
  /* Hold 13 lines * 1.5rem == 16.5 */
  max-height: 16.5rem;
}

.social-item {
  display: inline-block;
}

.social-item a:hover {
  color: var(--color-background-footer);
}
/* This is a list of sections of social media icons and links */
.wrapper-collection-sections {
  list-style-type: none;
  padding-left: 0;
}

.wrapper-collection-sections a {
  display: block;
  width: 100%;
}

/* A list item in a wrapper-collection-sections list that contains a list of
   social media icons and links */
.wrapper-collection-items {
  background-color: var(--color-background-sidebar-highlight);
  border-radius: 0.5em;
  margin-bottom: 1em;
  margin-right: 1.5em;
}

/* The border around a list of social media links */
.wrapper-collection-border {
  font-size: 0.8em;
  padding-left: 3em;
  padding-bottom: 0.2em;
  color: var(--gray125);
}

.wrapper-collection-border.icon {
  padding-left: 0.5em;
}

.wrapper-collection-border.title {
  padding-left: 0.5em;
  text-transform: capitalize;
}

.header-archive-date {
  font-weight: bolder;
  padding: 0.3em 0.3em 0 0;
}

.side-list-item {
  padding: .2em 0;
}


a.email {
  color: var(--gray900);
}

a.facebook {
  color: #3B5998;
}

a.github {
  color: black;
}

a.hackernews {
  color: #ff6600;
}

a.instagram {
  color: #2d2d2d;
}

a.linkedin {
  color: #4875B4;
}

a.pinterest {
  color: #c8232c;
}

a.reddit {
  color: #41700f;
}

a.rss {
  color: var(--gray900);
}

a.stackoverflow {
  color: #2d2d2d;
}

a.tumblr {
  color: #2B4964;
}

a.twitter {
  color: #33ccff;
}

a.youtube {
  color: #FF3333;
}

a.email:hover {
  background-color: var(--gray900);
}

a.facebook:hover {
  background-color: #3B5998;
}

a.github:hover {
  background-color: black;
}

a.hackernews:hover {
  background-color: #ff6600;
}

a.instagram:hover {
  background-color: #2d2d2d;
}

a.linkedin:hover {
  background-color: #4875B4;
}

a.pinterest:hover {
  background-color: #c8232c;
}

a.reddit:hover {
  background-color: #41700f;
}

a.rss:hover {
  background-color: var(--gray900);
}

a.stackoverflow:hover {
  background-color: #2d2d2d;
}

a.subscribemail:hover {
  background-color: var(--color-background-code);
}

a.tumblr:hover {
  background-color: #2B4964;
}

a.twitter:hover {
  background-color: #33ccff;
}

a.youtube:hover {
  background-color: #FF3333;
}


/* Various to-do-list shortcodes */
.event-list {
  margin-top: 0.5em;
  padding-left: 0;
  list-style: none;
}

.bullet::before {
  display: inline-block;
  padding-left: 2em;
}

.bullet {
  padding-left: 2em;
  text-indent: -2em;
}

.inline.bullet::before {
  display: none;
}

.inline {
  padding-left: 0;
  text-indent: 0;
}

/* These colors are garish. Someday I'll make them more harmonious */
.appointment {
  color: var(--color500-adjacent);
}
.anniversary, .birthday, .holiday, .vacation {
  color: rgb(199, 134, 36);
}
.goal {
  color: #00be00;
}
.event {
  color: var(--color500-adjacent);
}
.task {
  color: #5C5CDF;
}
.bullet.unknown {
  color: fuchsia;
}

.bullet.anniversary::before {
  content: "\1F382";
}

.appointment::before {
  content: "\1F514";
}
.bullet.appointment-canceled::before {
  content: "\1F515";
}
.bullet.appointment-past::before {
  content: "\1F56D";
}

.bullet.birthday::before {
  content: "\1F382";
}

.event::before, .vacation::before {
  content: "\29BE";
}

.bullet.event-canceled::before {
  content: "\2296";
}

.event-completed::before {
  content: "\29BF";
}

.event-migrated::before {
  content: "\21D2";
}
.bullet.goal::before {
  content: "\1F945";
}
.bullet.goal-completed::before {
  content: "\1F947";
}
.bullet.goal-work::before {
  content: "\1F4CB";
}
.bullet.goal-work-completed::before {
  content: "\1F3AF";
}

.holiday::before {
  content: "\1F389";
}

.bullet.task::before, .bullet.task-canceled::before {
  content: "\2605";
}
.bullet.task-completed::before,
.bullet.task-migrated-completed::before {
  content: "\2713";
}
.bullet.task-migrated::before,
.bullet.task-migrated-canceled::before {
  content: "\2192";
}
.bullet.task-waiting::before {
  content: "\23F3";
}
.bullet.task-work::before, .bullet.task-work-canceled::before {
  content: "\2606";
}
.bullet.task-work-completed::before,
.bullet.task-work-migrated-completed::before {
  content: "\2714";
}
.bullet.task-work-migrated::before,
.bullet.task-work-migrated-canceled::before {
  content: "\21A6";
}
.bullet.task-work-waiting::before {
  content: "\231B";
}

.bullet.unknown::before {
  content: "\2753";
}

/* Styling checkboxes formed from "[ ]" and "[x]" in markdown */
input[type=checkbox]:checked {
    position: relative;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 1.1rem;
    height: 1.1rem;
    background-color: var(--color-background-main);
    border: 0.1rem solid var(--color500-adjacent);
    border-radius: 0.2em;
}
input[type=checkbox]:checked:after {
    content: "\2714";
    display: block;
    position: absolute;
    left: 0.3em;
    color: var(--color500);
}


/***********************
 ** TABLE OF CONTENTS **
 ***********************/

.toc {
  display: block;
  background: var(--color-background-toc) none repeat scroll 0 0;
  border: 1px solid var(--color-border-toc);
  float: right;
  margin-left: 0.5em;
  max-width: 33%;
}

.toc h2 {
  font-size: 100%;
  margin-bottom: 0;
}

#TableOfContents > ul {
  padding-left: 0.25rem;
  padding-right: 0.5rem;
  list-style-type: none;
  font-size: 0.9em;
  font-weight: 600;
}

#TableOfContents > ul > li:not(:first-child) {
  margin-top: var(--margin-toc-vertical);
}

#TableOfContents > ul > li > ul {
  font-weight: normal;
  list-style-type: none;
  font-size: 0.85em;
}

/* New Table of Contents: WIP */

/******** floating Table of Contents ********
.toc {
  background: var(--color-background-toc) none repeat scroll 0 0;
  border: 1px solid var(--color-border-toc);
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  position: fixed;
  right: 1em;
  top: 1em;
}

.toc #TableOfContents { display: none; }
.toc:hover #TableOfContents {
  display: block;
}
********************************************
.table-of-contents {
  background: var(--color-background-toc) none repeat scroll 0 0;
  border: 1px solid var(--color-border-toc);
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  float: right;
  min-width: 35%;
  max-width: 40%;
  width: auto;
  display: grid;
  padding-left: 0;
}

.table-of-contents li {
  list-style-type: none;
  font-size: 0.9em;
  font-weight: 600;
}
*/
