          {{- $dateTime := .PublishDate.Format "2006-01-02" -}}
          {{- $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}

          {{- /*
              Show "reading time" and "word count" but only if one of the following are true:
              1) A global config `params` value is set `show_reading_time = true`
              2) A section front matter value is set `show_reading_time = true`
              3) A page front matter value is set `show_reading_time = true`
              */ -}}
            {{- $featherUrl := print "/images/feather/feather-sprite.svg" -}}
            <span>
              <svg class="feather">
                <use xlink:href="{{ printf "%s%s" $featherUrl "#calendar" }}"/>
              </svg>
              <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time></span>
            <span> - {{ .ReadingTime}} min read</span>
            <span> - {{ .WordCount }} words</span>
            {{- with .Params.tags -}}
            <br>
            <svg class="feather">
              <use xlink:href="{{ printf "%s%s" $featherUrl "#tag" }}"/>
            </svg>
                {{- range . -}}
            {{- $href := print (relURL "tags/") (urlize .) -}}
            <a href="{{ $href }}">{{ . }}</a>
            {{- end -}}
            {{- end -}}
