        {{ "<!-- BEGIN layouts/partials/drop-caps.html -->" | safeHTML -}}
        {{- $componentDropCapsFont := "" -}}
        {{- $componentDropCaps := "c-drop-caps" -}}
        {{- if .Params.componentDropCaps -}}
          {{- $componentDropCapsFont = .Params.componentDropCaps -}}
        {{- else if .Site.Params.componentDropCaps -}}
          {{- $componentDropCapsFont = .Site.Params.componentDropCaps -}}
        {{- else -}}
          {{- $componentDropCaps = "c-drop-caps__none" -}}
        {{- end }}
        <section class="content {{ $componentDropCaps }} {{ $componentDropCapsFont }}">
          {{ .Content }}
        </section>
        {{ "<!--END layouts/partials/drop-caps.html -->" | safeHTML -}}
