{{ $scratch := newScratch }}
{{ $scratch.Set "componentDropCapsFont" "" }}
{{ $scratch.Set "componentDropCaps" "c-drop-caps" }}
{{ if .Params.componentDropCaps }}
  {{ $scratch.Set "componentDropCapsFont" .Params.componentDropCaps }}
{{ else if .Site.Params.componentDropCaps }}
  {{ $scratch.Set "componentDropCapsFont" .Site.Params.componentDropCaps }}
{{ else }}
  {{ $scratch.Set "componentDropCaps" "c-drop-caps__none" }}
{{ end }}

{{ "<!--BEGIN layouts/partials/drop-caps.html -->" | safeHTML }}
<section class="content {{ $scratch.Get "componentDropCaps" }} {{ $scratch.Get "componentDropCapsFont" }}">
  {{- .Content -}}
</section>
{{ "<!--END layouts/partials/drop-caps.html -->" | safeHTML }}
