<ul class="social-items">
  {{ "<!--BEGIN layouts/partials/items-contents.html -->" | safeHTML }}
  {{ $scratch := newScratch }}
{{ if eq (len .context.Sections) 0 }}
  {{ with .context.Parent }}
    {{ $scratch.Set "sections" .Sections }}
  {{ end }}
{{ else }}
  {{ $scratch.Set "sections" .context.Sections }}
{{ end }}
{{ if eq ($scratch.Get "sections") nil }}
  {{ $scratch.Set "sections" .sections }}
{{ else if eq (len ($scratch.Get "sections")) 0 }}
  {{ with .context.Parent.Parent }}
    {{ $scratch.Set "sections" .Sections }}
  {{ end }}
{{ end }}
{{ $sections := $scratch.Get "sections" }}
{{ range $_, $section := $sections.ByTitle }}
  <li class="contents">
    <a class="secondary-nav__link" href="{{ $section.Permalink }}">
      {{ $section.Title }}
    </a>
  </li>
{{ end }}
{{ "<!--END layouts/partials/items-contents.html -->" | safeHTML }}
</ul>
