<ul class="collection-items">
{{ "<!-- BEGIN layouts/partials/items-latest.html -->" | safeHTML }}
{{- $postsAll := (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) -}}
{{- $listLimit := 10 -}}
{{- if isset .Site.Params "latest_limit" -}}
  {{- $listLimit = .Site.Params.latest_limit -}}
{{- end -}}
{{- range first $listLimit $postsAll  -}}
    <li class="collection-item">
      <a class="secondary-nav__link" href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </li>
{{- end -}}
{{ "<!--END layouts/partials/items-latest.html -->" | safeHTML }}
</ul>
