<ul class="social-items">
{{ "<!--BEGIN layouts/partials/items-latest.html -->" | safeHTML }}
{{- $postsAll := .Site.RegularPages.ByLastmod.Reverse -}}
{{- $listLimit := 10 -}}
{{- if isset .Site.Params "latest_limit" -}}
  {{- $listLimit = .Site.Params.latest_limit -}}
{{- end -}}
{{- range first $listLimit $postsAll -}}
    <li class="contents">
      <a class="secondary-nav__link" href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </li>
{{- end -}}
{{ "<!--END layouts/partials/items-latest.html -->" | safeHTML }}
</ul>
