{{ "<!-- BEGIN layouts/partials/items-contents.html -->" | safeHTML }}
            <ul class="collection-items">
            {{ $byDate := false -}}
            {{- $byWeight := false -}}
            {{ $name := "" }}
            {{- if eq .context.Section "journal" }}
              {{ "<!-- section: journal by date -->" | safeHTML }}
              {{ $byDate = true -}}
            {{- end -}}
            {{- if eq .context.Section "contact" }}
            {{ "<!-- section: contact by weight -->" | safeHTML }}
            {{ $byWeight = true -}}
            {{- end -}}
            {{- $sections := .context.Sections -}}
            {{- if eq $sections nil }}
              {{- $sections = .context.Parent.Sections -}}
              {{- $name = .context.Parent.Name -}}
              {{- if eq $sections nil }}
                {{- $sections = .context.Parent.Parent.Sections -}}
                {{- $name = .context.Parent.Parent.Name -}}
              {{- end -}}
            {{- else -}}
              {{- $name = .context.Name -}}
            {{- end -}}
            <!-- list Weekly things in reverse chronological order -->
            {{- if in $name "Week" -}}
              {{- $byDate = true -}}
            {{- end -}}

            {{- if $byDate -}}
              {{ "<!-- range by date -->" | safeHTML }}
              {{- range $sections.ByDate.Reverse }}
              <li class="collection-item">
                <a class="secondary-nav__link" href="{{ .Permalink }}">
                  {{- .Title -}}
                </a>
              </li>
              {{ end -}}
            {{- else if $byWeight -}}
              {{- $listLimit := 100 -}}
              {{- if isset .context.Site.Params "list_limit" -}}
                {{- $listLimit = .context.Site.Params.list_limit -}}
              {{- end -}}
              {{ "<!-- range by weight -->" | safeHTML }}
              {{- range first $listLimit  $sections.ByWeight }}
              <li class="collection-item">
                <a class="secondary-nav__link" href="{{ .Permalink }}">
                  {{- .Title -}}
                </a>
              </li>
              {{ end -}}
            {{- else -}}
              {{- $listLimit := 100 -}}
              {{- if isset .context.Site.Params "list_limit" -}}
                {{- $listLimit = .context.Site.Params.list_limit -}}
              {{- end -}}
              {{ "<!-- range by title -->" | safeHTML }}
              {{- range first $listLimit  $sections.ByTitle }}
              <li class="collection-item"><a class="secondary-nav__link" href="{{ .Permalink }}">{{- .Title -}}</a></li>
              {{- end -}}
            {{- end }}
            </ul>
{{ "<!--END layouts/partials/items-contents.html -->" | safeHTML -}}
