    <div id="nav-border" class="container">
      <nav id="site-nav">
      {{- $showActiveNav := .Site.Params.showActiveNav -}}
      {{- $currentPage := . -}}
      {{- range .Site.Menus.nav -}}
        {{- $active := "" -}}
        {{- if eq $showActiveNav true -}}
          {{- $isMenu := or ($currentPage.IsMenuCurrent "nav" .) ($currentPage.HasMenuCurrent "nav" .) -}}
          {{- if or $isMenu (eq $currentPage.Title .Name) -}}
            {{- $active = "nav-link-active" -}}
          {{- end -}}
        {{- end -}}
        {{- $featherUrl := print "/images/feather/feather-sprite.svg" -}}
          {{- $icon := printf "<svg class=\"feather\"><use xlink:href=\"%s#%s\"/></svg>" $featherUrl .Pre -}}
        {{- $text := print $icon .Name | safeHTML }}
        <a class="nav-link {{ $active }}" href="{{ .URL }}">{{ $text }}</a>
      {{- end }}
      </nav>
    </div><!-- nav-border -->
