  <nav class="siteNav">
    {{- $showActiveNav := .Site.Params.showActiveNav -}}
    {{- $currentPage := . -}}
    {{- range .Site.Menus.nav -}}
      {{- $active := "" -}}
      {{- if eq $showActiveNav true -}}
        {{- $isMenu := or ($currentPage.IsMenuCurrent "nav" .) ($currentPage.HasMenuCurrent "nav" .) -}}
        {{- if or $isMenu (eq $currentPage.Title .Name) -}}
          {{- $active = "navLink-active" -}}
        {{- end -}}
      {{- end -}}
      {{- $text := print .Name | safeHTML }}
      <a class="navLink {{ $active }}" href="{{ .URL }}">{{ $text }}</a>
    {{- end }}
    </nav>
