{{ "<!-- BEGIN layouts/partials/nav__breadcrumbs.html -->" | safeHTML }}
{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Set "path" .Site.BaseURL }}
{{ $.Scratch.Add "path" "/" }}
  <li class="breadcrumb__item"><a href="/">home</a></li>
  {{ range $_, $element := split $url "/" }}
    {{ $.Scratch.Add "path" $element }}
      {{ if ne $element "" }}
      <li class="breadcrumb__item"><a class="breadcrumbs_link" href='{{ $.Scratch.Get "path" }}'>{{ . }}</a></li>
      {{ $.Scratch.Add "path" "/" }}
      {{ end }}
  {{ end }}
  {{ "<!-- END layouts/partials/nav__breadcrumbs.html -->" | safeHTML }}
