{{- "<!-- BEGIN layouts/partials/nav__breadcrumbs.html -->" | safeHTML -}}
<!-- set the first breadcrumb link for the home page -->
<nav class="nav-breadcrumbs" aria-label="Breadcrumb" id="top">
<ul class="crumb-trail">
  <li class="crumb">
    <a class="crumb-link" href="/">Home</a>
  </li>
{{- template "breadcrumb" dict "currentPage" .Page -}}
<!-- templates -->
{{- define "breadcrumb" -}}
  {{- if .currentPage.Parent -}}
      <!-- recursively find all parent pages up to, but not including home -->
      {{- if ne .currentPage.Parent .IsHome -}}
      {{- template "breadcrumb" dict "currentPage" .currentPage.Parent -}}
    {{- end -}}
  <!-- make your breadcrumbs from beginning to end -->
  <li class="crumb">
    <a class="crumb-link" href="{{ .currentPage.Permalink }}">{{ .currentPage.Title }}</a>
  </li>
  {{- end -}}
{{- end -}}
</ul>
</nav>
{{ "<!-- END layouts/partials/nav__breadcrumbs.html -->" | safeHTML }}
