    {{ "<!-- BEGIN Test Breadcrumb-->" | safeHTML }}
    {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
    {{ $.Scratch.Add "path" .Site.BaseURL }}
      <li class="breadcrumb__item"><a href="/">home</a></li>
      {{ range $index, $element := split $url "/" }}
        {{ $.Scratch.Add "path" $element }}
        {{ if ne $element "" }}
          {{ block "breadcrumb" . }}
            {{- partial "breadcrumb.html" . -}}
          {{ end }}
          {{ $.Scratch.Add "path" "/" }}
        {{ end }}
      {{ end }}
    {{ "<!-- END Test Breadcrumb-->" | safeHTML }}

