<script src="{{ "js/feather.min.js" | absURL }}"></script>
<script>
  feather.replace()
</script>

{{ if eq .Site.Params.includeBootstrapJs true }}
<script src="{{ "js/jquery-3.3.1.slim.min.js" | absURL }}"></script>
<script src="{{ "js/bootstrap.bundle.min.js" | absURL }}"></script>
{{ end }}

{{ if or .Params.math .Site.Params.math }}
<!-- Configure MathJax for automatic equation numbering. See
   http://docs.mathjax.org/en/latest/tex.html#automatic-equation-numbering
   for details
-->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: { equationNumbers: { autoNumber: "AMS" } }
  });
</script>

<!--
  Load MathJax. Note that this is one of the most general configurations.
  See the configuration docs for others. There might be a lighter version
  that will work for my purposes.
  http://docs.mathjax.org/en/latest/config-files.html#common-configurations
-->
<!-- MathJax: Fall back to local if CDN offline -->
<script async type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML'></script>
<!--<script>window.MathJax || document.write('<script type="text/x-mathjax-config">MathJax.Hub.Config({"HTML-CSS":{imageFont:null}});<\/script><script type="text/javascript" src="{{ "scripts/MathJax-2.7.5/MathJax.js" | absURL }}?config=TeX-MML-AM_CHTML">\x3C/script>')</script>-->

<script>window.MathJax || document.write('<script type="text/x-mathjax-config">MathJax.Hub.Config({"HTML-CSS":{imageFont:null}});<\/script><script type="text/javascript" src="{{ "scripts/MathJax-2.7.5/MathJax.js" | absURL }}?config=TeX-AMS-MML_HTMLorMML">\x3C/script>')</script>

<!--
  Example fallback from
      https://github.com/mathjax/MathJax-docs/wiki/How-to:-MathJax-CDN-fallback

  <script>window.MathJax || document.write('<script type="text/x-mathjax-config">MathJax.Hub.Config({"HTML-CSS":{imageFont:null}});<\/script><script src="<<PATH_TO_YOUR_LOCAL_MATHJAX>>MathJax.js?config=TeX-AMS_HTML-full"><\/script>')</script>-->
{{ end }}
