{{ "<!-- BEGIN layouts/partials/secondaryNav.html -->" | safeHTML }}
  <ul class="wrapper-social-sections">
    <!--
      Don't include contents if there are no main sections. There must be a
      better way to handle yearly and monthly sections (i.e., /2016/12/,
      /2018/10/, or simply /2019/).
    -->
    {{ $selectSections := (where .sections "Type" "in" site.Params.mainSections) }}
    <!--
      exclude the "Posts" section, because it is "home", but display the
      contents block for other sections that have at least one subsection.
    -->
    {{ if and (gt (len $selectSections) 0) (ne (index $selectSections 0).Title "Posts") }}
    <li class="wrapper-social-items">
      <span class="wrapper-social-border icon icon-books"> </span>
      <span class="wrapper-social-border title">contents</span>
      <ul class="social-items">
        {{ range $idx, $pages := sort ($selectSections.GroupBy "Title") }}
        {{ range $index, $element := $pages.Pages }}
        <!-- Posts is Home, so don't list it in the sidebar -->
        {{ if (ne $element.Title "Posts")}}
        <li class="contents">
          <a class="secondary-nav__link" href="{{ $element.Permalink }}">
            {{ $element.Title }}
          </a>
        </li>
        {{ end }}
        {{ end }}
        {{ end }}
      </ul>
      <span class="wrapper-social-border icon icon-books"> </span>
    </li>
    {{ end }}
    <li class="wrapper-social-items">
      <span class="wrapper-social-border icon icon-folder-open"> </span>
      <span class="wrapper-social-border title">Lists</span>
      <ul class="social-items">
        {{ range $taxonomyName, $taxonomy := .context.Site.Taxonomies }}
        <li class="contents">
          <a class="secondary-nav__link" href="{{ .context.URL }}/{{ $taxonomyName }}/">
            {{ title $taxonomyName }}
          </a>
        </li>
        {{ end }}
      </ul>
      <span class="wrapper-social-border icon icon-folder-open"> </span>
    </li>
    <li class="wrapper-social-items">
      <span class="wrapper-social-border icon icon-folder-open"> </span>
      <span class="wrapper-social-border title">Archive</span>
      {{ $currentSection := .context.Section }}
      {{ $homeLink := .context.Site.BaseURL }}
      {{ $postsAll := where .context.Site.RegularPages.ByDate.Reverse "Type" "in" site.Params.mainSections }}
      {{ $scratch := newScratch }}
      <ul class="social-items">
        {{ range $idx, $page := $postsAll }}
          {{ if eq $idx 0 }}
            {{ $scratch.Set "currentYear" ($page.Date.Format "2006") }}
            {{ $scratch.Set "currentYear" ($page.Date.Format "2006") }}
          {{ else }}
            {{ $scratch.Set "previousYear" ($page.Date.Format "2006") }}
          {{ end }}
          {{ $cy := $scratch.Get "currentYear" }}
          {{ $py := $scratch.Get "previousYear" }}
          {{ if ne $cy $py }}
          <li class="contents">
          <a class="secondary-nav__link" href="{{ $homeLink }}/{{ $py }}/">
            {{ $py }}
          </a>
          </li>
          {{ $scratch.Set "currentYear" $py }}
          {{ end }}
        {{ end }}
      </ul>
      <span class="wrapper-social-border icon icon-folder-open"> </span>
    </li>
    {{ partial "social.html" . }}
  </ul>
{{- "<!-- END layouts/partials/secondaryNav.html -->" | safeHTML -}}