
  {{ "<!-- BEGIN layouts/partials/siteHeader.html -->" | safeHTML }}
  {{ $featured_image := .Param "featured_image" -}}
  {{- if $featured_image -}}
  {{- $featured_image := (trim $featured_image "/") | relURL -}}
  <header class="main-head" style="background-image: url('{{ $featured_image }}');">
    <h1 class="siteTitle">{{ .Site.Title }}</h1>
    <p class="siteSubtitle">{{- .Site.Params.homeText | markdownify -}}</p>
  {{- else -}}
  <header>
    <h1 class="main-head siteTitle">{{- .Site.Title -}}</h1>
    <p class="siteSubtitle">{{- .Site.Params.homeText | markdownify -}}</p>
  {{ end -}}
  </header>
  {{ "<!-- END layouts/partials/siteHeader.html -->" | safeHTML }}
