{{ $featured_image := .Param "featured_image"}}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <header id="home-jumbotron" class="jumbotron text-center" style="background-image: url('{{ $featured_image }}');">
    <h1 class="text-light">{{ .Site.Title }}</h1>
    <p class="font-125 text-light">{{ .Site.Params.homeText | markdownify }} </p>
  </header>
{{ else }}
  <header id="home-jumbotron" class="jumbotron text-center">
    <h1>{{ .Site.Title }}</h1>
    <p class="font-125">{{ .Site.Params.homeText | markdownify }} </p>
  </header>
{{ end }}
