      {{- $featured_image := .Param "featured_image" -}}
      {{- if $featured_image -}}
      {{- $featured_image := (trim $featured_image "/") | relURL -}}
      <header id="site-header" style="background-image: url('{{ $featured_image }}');">
        <h1 id="site-title">
          {{ .Site.Title }}
          <div>{{- .Site.Params.homeText | markdownify -}}</div>
        </h1>
      </header>
      {{- else -}}
      <header id="site-header">
        <h1 id="site-title">{{- .Site.Title -}}</h1>
        <p id="site-subtitle">{{- .Site.Params.homeText | markdownify -}} </p>
      </header>
      {{- end -}}