<li class="wrapper-social-items">
  <span class="wrapper-social-border icon icon-snowflake-o"> </span>
  <span class="wrapper-social-border title">share</span>
  <div class="social">
    {{ partial "social-share.html" . }}
  </div>
  <span class="wrapper-social-border icon icon-snowflake-o"> </span>
</li>
<li class="wrapper-social-items">
  <span class="wrapper-social-border icon icon-compass"> </span>
  <span class="wrapper-social-border title">follow</span>
  <div class="social">
    {{ partial "social-follow.html" . }}
  </div>
  <span class="wrapper-social-border icon icon-compass"> </span>
</li>
