{{ $articleLink   := .Permalink | urlize | title }}
{{ $articleTitle  := .Title | urlize | title }}
{{ $blogTitle     := .Site.Title | urlize | title }}

<ul class="social-items">
  <li class="social-item">
    <a href="https://github.com/dbc60"
       target="_blank" rel="noopener noreferrer"
       title="My GitHub repositories"
       class="github">
      <span class="icon icon-github2"></span>
      GitHub
    </a>
  </li>
  <li class="social-item">
    <a href="https://news.ycombinator.com/user?id=dcuthbertson"
       target="_blank" rel="noopener noreferrer"
       title="Sometimes I write comments on Hacker News"
       class="hackernews">
      <span class="icon icon-info2"></span>
      Hacker News
    </a>
  </li>
  <li class="social-item">
    <a href="https://www.instagram.com/dbc60/"
       target="_blank" rel="noopener noreferrer"
       title="Instagram - It's been a while"
       class="instagram">
      <span class="icon icon-instagram"></span>
      Instagram
    </a>
  </li>
  <li class="social-item">
    <a href="https://www.linkedin.com/in/douglas-cuthbertson-0487001/"
       target="_blank" rel="noopener noreferrer"
       title="I'm on LinkedIn"
       class="linkedin">
      <span class="icon icon-linkedin-square1"></span>
      LinkedIn</a>
    </li>
  <li class="social-item">
    <a href="https://www.pinterest.com/dougcuthbertson/"
       target="_blank" rel="noopener noreferrer"
       title="I haven't posted on Pinterest, yet"
       class="pinterest">
      <span class="icon icon-pinterest"></span>
      Pinterest
    </a>
  </li>
  <li class="social-item">
    <a href="https://www.reddit.com/user/dbc60"
       target="_blank" rel="noopener noreferrer"
       title="I read Reddit"
       class="reddit">
      <span class="icon icon-reddit"></span>
      Reddit
    </a>
  </li>
  <li class="social-item">
    <a href="https://stackoverflow.com/users/165347/doug-cuthbertson"
       target="_blank" rel="noopener noreferrer"
       title="I once answered a question on Stackoverflow"
       class="stackoverflow">
      <span class="icon icon-stackoverflow"></span>
      Stackoverflow
    </a>
  </li>
  <li class="social-item">
    <a href="https://dbc60.tumblr.com"
       target="_blank" rel="noopener noreferrer"
       title="I post on Tumblr once in a blue moon"
       class="pinterest">
      <span class="icon icon-tumblr"></span>
      Tumblr
    </a>
  </li>
  <li class="social-item">
    <a href="https://twitter.com/dougcuthbertson"
       target="_blank" rel="noopener noreferrer"
       title="Follow me on Twitter"
       class="twitter">
      <span class="icon icon-twitter2"></span>
      Twitter
    </a>
  </li>
  <li class="social-item">
    <a href="https://www.youtube.com/channel/UCjYq4zK5Pc2vxwpCWUotPxg?view_as=subscriber"
       target="_blank" rel="noopener noreferrer"
       title="Not much to see from me on YouTube"
       class="youtube">
      <span class="icon icon-youtube"></span>
      YouTube
    </a>
  </li>
  <li class="social-item">
    <a href="mailto:doug.cuthbertson@gmail.com"
       target="_blank" rel="noopener noreferrer"
       title="Contact me via email"
       class="email">
      <span class="icon icon-send-o"></span>
      email
    </a>
  </li>
</ul>
