        <ul class="social-wrap">
            <li class="share-wrap">
                <span class="icon icon-snowflake-o"> </span>
                <span class="title"> share </span>
                <div class="share">
                    <ul class="social">
                      <li> <a href="https://twitter.com/intent/tweet?status={{ .Title }}-{{ .Permalink }}" target="_blank" title="Share this article on Twitter" class="twitter"><span class="icon icon-twitter2"></span>Twitter</a> </li>
                    </ul>
                    <span class="subcount">for fun</span>
                </div>
            </li>
            <li class="follow-wrap">
                <span class="icon icon-compass"> </span>
                <span class="title"> follow </span>
                <div class="follow">
                    <ul class="social">
                        <li> <a href="http://github.com/dbc60" target="_blank" title="GitHub" class="github"><span class="icon icon-github2"></span>GitHub</a> </li>
                        <li> <a href="http://stackoverflow.com/users/165347/doug-cuthbertson" target="_blank" title="Stackoverflow" class="stackoverflow"><span class="icon icon-stackoverflow"></span>Stackoverflow</a> </li>
                        <li> <a href="https://www.linkedin.com/in/douglas-cuthbertson-0487001/" target="_blank" title="LinkedIn" class="linkedin"><span class="icon icon-linkedin-square1"></span>LinkedIn</a> </li>
                        <li> <a href="https://twitter.com/dougcuthbertson" target="_blank" title="Follow me on Twitter" class="twitter"><span class="icon icon-twitter2"></span>Twitter</a> </li>
                    </ul>
                    <span class="subcount">for something to do</span>
                </div>
            </li>
        </ul>
