{{ $articleLink   := .Permalink }}
{{ $articleTitle  := .Title | urlize | title }}
{{ $blogTitle     := .Site.Title | urlize | title }}

<ul class="social-items">
  <li class="social-item">
    <a href="https://www.facebook.com/sharer.php?u={{ $articleLink }}"
       target="_blank"
       rel="noopener noreferrer"
       title="Share this article on Facebook"
       class="facebook">
      <span class="icon icon-facebook"></span>
      Facebook
    </a>
  </li>
  <li class="social-item">
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ $articleLink }}&title={{ $articleTitle }}&summary={{ $articleTitle }}&source={{ $blogTitle }}" rel="noopener noreferrer" target="_blank" title="Share this article on LinkedIn" class="linkedin">
      <span class="icon icon-linkedin-square1"></span>
      LinkedIn
    </a>
  </li>
  <li class="social-item">
    <a href="https://www.reddit.com/submit?url={{ $articleLink }}&title={{ $articleTitle }}" target="_blank" rel="noopener noreferrer" title="Share this article on Reddit" class="reddit">
      <span class="icon icon-twitter2"></span>
      Reddit
    </a>
  </li>
  <li class="social-item">
    <a href="https://twitter.com/intent/tweet?url={{ $articleLink }}&text={{ $articleTitle }}" target="_blank" rel="noopener noreferrer" title="Share this article on Twitter" class="twitter">
      <span class="icon icon-twitter2"></span>
      Twitter
    </a>
  </li>
</ul>
