
{{ define "main" }}

<main>
  <!-- home page template -->
  <article>
    <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
    {{ .Content }}
    <!-- Paginates through content/post/*.md -->
    {{ $paginator := .Paginate (where .Pages "Type" "post") }}
    {{ range $paginator.Pages }}
      <p>
        <h2><a class="font-125" href="{{ .Permalink }}">{{ .Title }}</a></h2>
        {{ partial "date-and-tags.html" . }}
        <!-- this renders based on layouts/_default/summary.html (either the
        local one, or the one in a theme -->
        {{ .Render "summary" }}
      </p>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
  </article>
</main>

{{ end }}
