    {{- define "main" }}
        <h1>All Posts</h1>
        {{ "<!-- Paginates through content/post/*.md -->" | safeHTML }}
        {{ $paginator := .Paginate (where .Pages "Type" "post") -}}
        {{- range $paginator.Pages -}}
        <article>
        <h2 class="title-article"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        {{ block "articleMetaDataHeader" . -}}
          {{ partial "date-and-tags.html" . -}}
        {{- end -}}
            {{ "<!-- this renders based on layouts/_default/summary.html (either the local one, or the one in a theme -->" | safeHTML }}
            {{- .Render "summary" }}
        </article>
        {{ end -}}
        {{- template "_internal/pagination.html" . }}
    {{- end -}}
