    {{- define "main" }}
      <article class="article-main">
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{- .Content -}}
        <!-- Paginates through content/post/*.md -->
        {{- $paginator := .Paginate (where .Pages "Type" "post") -}}
        {{- range $paginator.Pages -}}
        <h2 class="title-article"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div class="article-meta-data">
          {{ partial "date-and-tags.html" . -}}
        </div>
            <!-- this renders based on layouts/_default/summary.html (either the
            local one, or the one in a theme -->
            {{- .Render "summary" }}
        {{- end -}}
        {{- template "_internal/pagination.html" . }}
      </article>
    {{- end -}}
