      {{- define "main" -}}
        {{ "<!-- BEGIN main layouts/_default/single.html -->" | safeHTML }}
        <h2 class="title-article">{{- .Title -}}</h2>
        {{- partial "date-and-tags.html" . -}}
        {{- partial "victorian-divider.html" (dict "style" "light") -}}
        {{ partial "drop-caps.html" . }}
        {{ if and .Site.Config.Services.Disqus.Shortname (not (or .Site.Params.disable_comments .Params.disable_comments)) }}
        {{- partial "victorian-divider.html" (dict "style" "medium") -}}
        <section class="comments">{{- "<!-- BEGIN comments section layouts/_default/single.html -->" | safeHTML }}
          {{ partial "disqus.html" . }}
        </section> {{- "<!-- END comments section layouts/_default/single.html -->" | safeHTML }}
        {{ end }}
        {{- partial "victorian-divider.html" (dict "style" "medium") -}}
        {{ partial "backlinks.html" (dict "page" .) }}
        {{- "<!-- END main layouts/_default/single.html -->" | safeHTML -}}
      {{- end -}}
