{{- define "main" }}
{{ "<!-- BEGIN main layouts/taxonomy/2020.html -->" | safeHTML }}
<div class="content">
  {{ $paginator := .Paginate (where .Pages "Type" "in" site.Params.mainSections) -}}
  {{ range $paginator.Pages }}
  {{- $featuredImage := "" -}}
  {{- $featuredDescription := "" -}}
  {{- if .Params.featuredImage -}}
    {{- $featuredImage = .Params.featuredImage -}}
    {{- $featuredDescription = .Params.featuredDescription -}}
  {{- else -}}
    {{- $featuredImage = .Site.Params.featuredImage -}}
    {{- $featuredDescription = .Site.Params.featuredDescription -}}
  {{- end -}}
  <section class="page-summary">
    <div class="flex-row">
      <div class="pl3-ns">
        <a href="{{ .Permalink }}" class="db grow">
          <img src="{{ $featuredImage | absURL }}" alt={{ $featuredDescription }}>
        </a>
      </div>
      <div class="pr3-ns">
        <h2 class="title-article-item"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        {{- partial "date-and-tags.html" . -}}
          <!-- this renders based on layouts/_default/summary.html (either the
          local one, or the one in a theme -->
        {{ .Render "summary" }}
      </div>
    </div>
  </section>
  {{ end }}
  {{- template "_internal/pagination.html" . }}
</div>
{{ "<!-- END main layouts/taxomony/2020.html -->" | safeHTML }}
{{- end -}}
