{{- define "main" }}
{{ "<!-- BEGIN main layouts/taxonomy/category.html -->" | safeHTML }}
{{- $paginator := .Paginate .Pages -}}
<div class="content">
  {{- range $paginator.Pages -}}
  <section class="page-summary">
  <h2 class="title-article-item"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
  {{- partial "date-and-tags.html" . -}}
  {{ .Render "summary" }}
  </section>
  {{- end -}}
  {{- template "_internal/pagination.html" . }}
</div>
{{ "<!-- END main layouts/taxomony/category.html -->" | safeHTML }}
{{- end -}}
