{{- define "main" -}}
<main class="content">
    <h1 class="title">Posts in {{ .Title | title }} Category</h1>
    {{- $paginator := .Paginate (where .Pages "Type" "in" (slice "post" "note" "project")) -}}
    {{- range $paginator.Pages -}}
      {{ $page := .Page }}
      <h2 class="title-article-category"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      {{ block "articleMetaDataHeader" . -}}
      {{- partial "date-and-tags.html" . -}}
      {{ end }}
        <!-- this renders based on layouts/_default/summary.html (either the
        local one, or the one in a theme -->
        {{ .Render "summary" }}
    {{- end -}}
    {{- template "_internal/pagination.html" . }}
  </main>
{{- end -}}
