{{- define "main" -}}
{{ "<!-- BEGIN main layouts/taxonomy/section.html -->" | safeHTML }}

{{ $sections := (.Site.GetPage "/").Sections }}
<nav class="secondary-nav" aria-label="Secondary">
  <ul>
    {{ range $sections }}
    <li><h2 class="title-section"><a href="{{ .Permalink }}">{{ .Title }}</a></h2></li>
    {{ end }}
  </ul>
</nav>

<main class="content">
<h1 class="title">Taxonomy: {{ .Title | title }}</h1>
      {{- .Content -}}
    {{- $paginator := .Paginate (where .Pages "Type" "note") -}}
    {{- range $paginator.Pages -}}
    <article>
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      {{ block "articleMetaDataHeader" . -}}
      {{- partial "date-and-tags.html" . -}}
      {{ end }}
        <!-- this renders based on layouts/_default/summary.html (either the
        local one, or the one in a theme -->
        {{ .Render "summary" }}
    </article>
    {{- end -}}
    {{- template "_internal/pagination.html" . }}
  </main>
  {{ "<!-- END main layouts/taxonomy/section.html -->" | safeHTML }}
{{- end -}}
