{{- define "main" -}}
{{ "<!-- BEGIN main layouts/taxonomy/section.html -->" | safeHTML }}
<article class="content">
<h2 class="title-article">Taxonomy: {{ .Title | title }}</h2>
      {{- .Content -}}
    {{- $paginator := .Paginate (where .Pages "Type" "note") -}}
    {{- range $paginator.Pages -}}
    <section class="page-summary">
      <h3 class="title-article-item"><a href="{{ .Permalink }}#wrapper">{{ .Title }}</a></h3>
      {{- partial "date-and-tags.html" . -}}
        <!-- this renders based on layouts/_default/summary.html (either the
        local one, or the one in a theme -->
        {{ .Render "summary" }}
    </section>
    {{- end -}}
    {{- template "_internal/pagination.html" . }}
</article>
  {{ "<!-- END main layouts/taxonomy/section.html -->" | safeHTML }}
{{- end -}}
