{{- define "main" -}}
    <article class="article-list">
    <h2 id="title">{{ .Title }}</h2>
    {{- template "_internal/pagination.html" . }}
    {{- $paginator := .Paginate (where .Pages "Type" "in" (slice "post" "note")) -}}
    {{- range $paginator.Pages -}}
    {{ $page := .Page }}
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a> {{ title $page.Type }}</h2>
      <div class="article-meta-data">
        {{- partial "date-and-tags.html" . -}}
        <!-- this renders based on layouts/_default/summary.html (either the
        local one, or the one in a theme -->
        {{ .Render "summary" }}
      </div>
    {{- end -}}
    {{- template "_internal/pagination.html" . }}
    </article>
{{- end -}}
