{{- define "main" -}}
{{- "<!-- BEGIN main layouts/taxonomy/terms.html -->" | safeHTML -}}
{{- $sections := (.Site.GetPage .Section).Sections -}}
{{- $rootSections := (.Site.GetPage "/").Sections -}}
{{- if eq 0 (len $sections) -}}
{{- $sections = $rootSections -}}
{{- end -}}

{{ $here := .Section }}
<div class="content">
  {{ $pages := slice -}}
  <!-- Gather all the non-index pages in the list of main sections -->
  {{- $allMainPages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections -}}
  <!-- month, day, hour, minute, second, year ==> 01, 02, 03, 04, 05, 2006 -->
  {{- range $allMainPages.GroupByDate "2006.01.02.03.04.05" -}}
    {{- range $_, $page := .Pages.ByDate.Reverse -}}
      {{- if eq ($page.Date.Format "2006") $here -}}
          {{- $pages = $pages | append $page -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- $paginator := .Paginate $pages -}}
  {{- range $paginator.Pages.ByDate.Reverse }}
  {{- $featuredImage := "" -}}
  {{- $featuredImageDescription := "" -}}
  {{- if .Params.featuredImage -}}
    {{- $featuredImage = .Params.featuredImage -}}
    {{- $featuredImageDescription = .Params.featuredImageDescription -}}
  {{- else -}}
    {{- $featuredImage = .Site.Params.featuredImage -}}
    {{- $featuredImageDescription = .Site.Params.featuredImageDescription -}}
  {{- end -}}
  <section class="page-summary">
    <div class="flex-row">
      <div class="pl3-ns">
        <a href="{{ .Permalink }}#top" class="db grow">
          <img src="{{ $featuredImage | absURL }}" alt={{ $featuredImageDescription }}>
        </a>
      </div>
      <div class="pr3-ns">
        <h2 class="title-article-item"><a href="{{ .Permalink }}#top">{{ .Title }}</a></h2>
        {{- partial "date-and-tags.html" . -}}
          <!-- this renders based on layouts/_default/summary.html (either the
          local one, or the one in a theme -->
        {{ .Render "summary" }}
      </div>
    </div>
  </section>
  {{- end -}}
  {{- partial "pagination.html" . }}
</div>

{{ "<!-- END main layouts/taxomony/terms.html -->" | safeHTML }}
{{- end -}}
