{{- define "main" }}
{{ "<!-- BEGIN main layouts/taxonomy/taxonomy.html -->" | safeHTML }}
<div class="content">
  <h2 class="title-article">{{ .Title }}</h2>

  {{- range .Pages -}}
  <section class="page-summary">
    <h3 class="title-article-item">
      <a href="{{ .RelPermalink }}">{{ .Title }} ({{ len .Pages }} {{ if eq (len .Pages) 1 }}post{{ else }}posts{{ end }})</a>
    </h3>
  </section>
  {{- end -}}
</div>
{{ "<!-- END main layouts/taxonomy/taxonomy.html -->" | safeHTML }}
{{- end -}}
