{{/*
  controls, loop, and autoplay are boolean and default to false if they are
  not present.
  */}}
{{ $controls := .Get "controls" -}}
{{ $loop := .Get "loop" -}}
{{ $autoplay := .Get "autoplay" -}}
<video
  {{- if $controls }}
    {{/* autoplay and loop are optional */}}
    controls {{ if $autoplay }} autoplay {{ end }} {{ if $loop }} loop {{ end }}
  {{ else }}
    {{/* No controls, so must autoplay and loop */}}
    autoplay loop
  {{ end -}}
  {{- with .Get "class" }} class="video-shortcode {{ . }}" {{ else }} class="video-shortcode" {{ end -}}
    preload="{{ .Get "preload" }}">
    {{- if .Get "link" -}}
        <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end }}
    <source src="{{ .Get "src" }}" type="{{ .Get "type" }}">
    <p class="video-unsupported">There should have been a video here but your browser does not seem
    to support it.</p>
    {{- if .Get "link" }}</a>{{ end -}}
</video>
{{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
<figcaption>
    {{ with .Get "title" -}}
        {{ . }}
    {{- end -}}
    {{- if or (.Get "caption") (.Get "attr") -}}<p>
        {{- .Get "caption" | markdownify -}}
        {{- with .Get "attrlink" }}
            <a href="{{ . }}">
        {{- end -}}
        {{- .Get "attr" | markdownify -}}
        {{- if .Get "attrlink" }}</a>{{ end }}</p>
    {{- end }}
</figcaption>
{{- end }}
