{{- $type := .Get "type" | default "any" -}}
{{- $title := .Get "title" | default "" -}}
{{- $class := "" -}}
{{- if eq $type "any" -}}
  {{- $class = "admonition note" -}}
  {{- if eq $title "" -}}
    {{- $title = "Note" -}}
  {{- end -}}
{{- else if eq $type "attention" -}}
  {{- $class = "admonition caution" -}}
  {{- if eq $title "" -}}
    {{- $title = "Attention" -}}
  {{- end -}}
{{- else if eq $type "caution" -}}
  {{- $class = "admonition caution" -}}
  {{- if eq $title "" -}}
    {{- $title = "Caution" -}}
  {{- end -}}
{{- else if eq $type "danger" -}}
  {{- $class = "admonition danger" -}}
  {{- if eq $title "" -}}
    {{- $title = "Danger" -}}
  {{- end -}}
{{- else if eq $type "error" -}}
  {{- $class = "admonition danger" -}}
  {{- if eq $title "" -}}
    {{- $title = "Error" -}}
  {{- end -}}
{{- else if eq $type "hint" -}}
  {{- $class = "admonition note" -}}
  {{- if eq $title "" -}}
    {{- $title = "Hint" -}}
  {{- end -}}
{{- else if eq $type "important" -}}
  {{- $class = "admonition caution" -}}
  {{- if eq $title "" -}}
    {{- $title = "Important" -}}
  {{- end -}}
{{- else if eq $type "note" -}}
  {{- $class = "admonition note" -}}
  {{- if eq $title "" -}}
    {{- $title = "Note" -}}
  {{- end -}}
{{- else if eq $type "tip" -}}
  {{- $class = "admonition note" -}}
  {{- if eq $title "" -}}
    {{- $title = "Tip" -}}
  {{- end -}}
{{- else if eq $type "warning" -}}
  {{- $class = "admonition caution" -}}
  {{- if eq $title "" -}}
    {{- $title = "Warning" -}}
  {{- end -}}
{{- else -}}
  {{- $class = "admonition note" -}}
  {{- if eq $title "" -}}
    {{- $title = "Unknown" -}}
  {{- end -}}
{{- end }}
<aside class="{{ $class }}">
  <div class="admonition-title">{{ $title }}</div>
  <div class="content">{{ $.Inner | partial "markdownify-block" }}</div>
</aside>
{{- /* This comment removes trailing newlines */ -}}
