<!--
  The rule when using this shortcut is there must be a static image and an
  animated gif. The path to the static image will be passed to "src"
  (i.e., "src:<path-to-static-image"). The path to the animated GIF will be
  passed to "link" (i.e., "link:<path-to-animated_gif>").
-->
<figure{{ with .Get "class" }} class="post-image object-and-details {{ . }}" {{ else }} class="post-image object-and-details" {{ end }}>
  {{- if .Get "link" -}}
  <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
  {{- end }}
  <img src="{{ .Get "src" }}"
    {{- if or (.Get "alt") (.Get "caption") }}
    alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
    loading="lazy"
    {{- end -}}
    {{- with .Get "width" }} width="{{ . }}"{{ end -}}
    {{- with .Get "height" }} height="{{ . }}"{{ end -}}>
<details>
    <!-- added role=button to summary to resolve iOS funkiness -->
    <summary role="button" aria-label="static image"></summary>
    <div class="object-and-details1">
      <img
      src="{{ .Get "link" }}"
      alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
      loading="lazy">
    </div>
  </details>
  {{- if .Get "link" }}</a>{{ end -}}
  {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
  <figcaption>
      {{ with (.Get "title") -}}
          {{ . }}
      {{- end -}}
      {{- if or (.Get "caption") (.Get "attr") -}}<p>
          {{- .Get "caption" | markdownify -}}
          {{- with .Get "attrlink" }}
              <a href="{{ . }}">
          {{- end -}}
          {{- .Get "attr" | markdownify -}}
          {{- if .Get "attrlink" }}</a>{{ end }}</p>
      {{- end }}
  </figcaption>
  {{- end }}
</figure>

<!--
  Stopping and Starting an Animated GIF from CSS Tricks, Pausing a GIF with
  details/summary, https://css-tricks.com/pause-gif-details-summary/
-->
