{{- $src := .Get "src" -}}
{{- $.Scratch.Set "toml" (print "/data/" $src ".toml") -}}
{{- $.Scratch.Set "yaml" (print "/data/" $src ".yaml") -}}
{{- $.Scratch.Set "json" (print "/data/" $src ".json") -}}
{{- $dataFile := index .Site.Data $src -}}

<!-- Check if $src exists as a toml, yaml, or json file -->
{{- if (or (fileExists ($.Scratch.Get "toml")) (or (fileExists ($.Scratch.Get "yaml"))  (fileExists ($.Scratch.Get "json")))) -}}
  {{- $.Scratch.Set "count" 0 -}}
  {{- $dataLength := len $dataFile -}}

  {{- if gt $dataLength 1 -}}
    <!-- assume first row is header -->
    {{- $.Scratch.Set "needHead" true -}}
  {{- else -}}
    <!-- assume a single row table has no header -->
    {{- $.Scratch.Set "needHead" false -}}
  {{- end -}}

  <table {{ with .Get "class" }} class="{{ . }}" {{ else }} class="table" {{ end }}>
  {{- range $table := $dataFile -}}
    {{- range $keyOuter, $dataOuter := $table -}}
      {{- if eq 0 ($.Scratch.Get "count") -}}
        <!-- if we have a thead, end it and start tbody -->
        {{- if $.Scratch.Get "needHead" }}
          <thead>
        {{- else }}
          <tbody>
        {{- end -}}
      {{- else -}}
        <tbody>
      {{- end -}}
      {{- if reflect.IsMap $dataOuter }}
        {{- range $multiRow := $dataOuter -}}
          <tr class="multi-row">
          {{- range $row := $multiRow -}}
            {{- if eq 0 ($.Scratch.Get "count") -}}
              <th>{{ . }}</th>
            {{- else }}
              <td>{{ . }}</td>
            {{- end -}}
          {{- end -}}
          </tr>
        {{- end }}
      {{- else }}
        <tr class="simple-row">
        {{- if eq 0 ($.Scratch.Get "count") -}}
          {{- range $row := $dataOuter }}
            <th>{{ . }}</th>
          {{- end }}
        {{ else }}
          {{- range $row := $dataOuter }}
            <td>{{ . }}</td>
          {{- end }}
        {{ end }}
        </tr>
      {{- end -}}
      {{- if eq 0 ($.Scratch.Get "count") -}}
        <!-- if we have a thead, end it and start tbody -->
        {{- if $.Scratch.Get "needHead" }}
          </thead>
        {{- else }}
          </tbody>
        {{- end -}}
      {{- else }}
        </tbody>
      {{- end -}}
    {{- end -}}
    {{- $.Scratch.Add "count" 1 -}}
  {{- end }}
    </tbody>
  </table>
{{- else }}
  <p>Can't find data file "{{$src}}"". Checked:</p>
  <ul>
    <li>{{ $.Scratch.Get "toml"}}</li>
    <li>{{ $.Scratch.Get "yaml"}}</li>
    <li>{{ $.Scratch.Get "json"}}</li>
  </ul>
{{- end -}}
