{{- $src := .Get "src" -}}
{{- $.Scratch.Set "toml" (print "/data/" $src ".toml") -}}
{{- $.Scratch.Set "yaml" (print "/data/" $src ".yaml") -}}
{{- $.Scratch.Set "json" (print "/data/" $src ".json") -}}
{{- $dataFile := index .Site.Data $src -}}

<!-- Check if $src exists as a toml, yaml, or json file -->
{{- if (or (fileExists ($.Scratch.Get "toml")) (or (fileExists ($.Scratch.Get "yaml"))  (fileExists ($.Scratch.Get "json")))) -}}
  {{- $.Scratch.Set "count" 0 -}}
  {{- $dataLength := len $dataFile -}}

  <p>The length of the data is {{$dataLength}}</p>
  {{ if gt $dataLength 1 }}
    <!-- assume first row is header -->
    {{ $.Scratch.Set "needHead" true}}
  {{ else }}
    <!-- assume a single row table has no header -->
    {{ $.Scratch.Set "needHead" false}}
  {{ end }}

  <p {{ with .Get "class" }} class="{{ . }}" {{ else }} class="table" {{ end }}>
    {{ $src }} table starts.
  </p>
  <p> data file: {{ $dataFile }}</p>
  {{- range $table := $dataFile -}}
    <p>Row index = {{$.Scratch.Get "count"}}</p>
    <p> ROW: {{$table}}</p>
    {{- range $keyOuter, $dataOuter := $table }}
      <p>multi-line header/body</p>
      <p>KEY: {{$keyOuter}}</p>
      <p>DATA: {{$dataOuter}}</p>
      {{- if eq 0 ($.Scratch.Get "count") -}}
        <!-- if we have a thead, end it and start tbody -->
        {{- if $.Scratch.Get "needHead" }}
          <p>Begin table header</p>
        {{- else }}
          <p>Begin table body</p>
        {{- end -}}
      {{ else }}
        <p>Begin table body after header</p>
      {{ end }}
      {{- if reflect.IsMap $dataOuter }}
        {{- range $multiRow := $dataOuter -}}
          <p class="multi-row">Begin multi-row</p>
          {{- range $row := $multiRow -}}
            {{- if eq 0 ($.Scratch.Get "count") -}}
              <p>multi-row header column{{ . }}</p>
            {{- else }}
              <p>multi-row body column{{ . }}</p>
            {{- end -}}
          {{- end -}}
          <p>End multi-row</p>
        {{- end }}
      {{- else }}
        <p class="simple-row">Begin simple-row</p>
        {{- if eq 0 ($.Scratch.Get "count") -}}
          {{- range $row := $dataOuter }}
            <p>simple-row header column{{ . }}</p>
          {{- end }}
        {{ else }}
          {{- range $row := $dataOuter }}
            <p>simple-row body column{{ . }}</p>
          {{- end }}
        {{ end }}
        <p>end simple-row</p>
      {{- end -}}
      {{- if eq 0 ($.Scratch.Get "count") -}}
        <!-- if we have a thead, end it and start tbody -->
        {{- if $.Scratch.Get "needHead" }}
          <p>End table header</p>
        {{- else }}
          <p>End table body</p>
        {{- end -}}
      {{- else }}
        <p>End table body after header</p>
      {{- end -}}
    {{ end }}
    {{ $.Scratch.Add "count" 1 }}
  {{ end }}
    <p>End last body</p>
  <p>End table</p>
{{ else }}
  <p>Can't find data file "{{$src}}"". Checked:</p>
  <ul>
    <li>{{ $.Scratch.Get "toml"}}</li>
    <li>{{ $.Scratch.Get "yaml"}}</li>
    <li>{{ $.Scratch.Get "json"}}</li>
  </ul>
{{ end }}
